*{
    box-sizing: border-box;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 18rem;
    margin: 25px;
    padding: 0;
}
.image_placeholder{
    background-position: center;
    background-image: url('food-placeholder.jpeg');
    width:100%;
    height:200px;
}
.top-right{
    position: absolute;
    bottom: 21em;
    right: 16px;
}
.username{
    position: absolute;
    bottom: 12em;
    left: 16px;
}
.user{
    color: black;
    text-decoration: none;
}
.card-body{
    background-color: lightgray;
}
.card-title{
    font-weight: bold;
}
.bookmark-icon{
    position: relative;
    top: 10px;
    left: 5px;
    color: black;
    font-size: 35px;
}
.card-calender, .card-comment, .card-bookmark{
    color: black;
    text-decoration: none;
}
.fa-circle-user{
    font-size: 25px;
    color: salmon;
}
.card-foot{
    display: flex;
    justify-content: space-between;
}

/*media queries*/
@media screen and (max-width: 650px){
/*can't get mobile*/
}
