h3{
    font-family: 'Playfair Display', serif;
}
h1{
}
.ingredientsBtn, .instructionsBtn{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}
.ingredients{
}
input{
    width: 100%;
}
ol{
    margin: 0;
    padding: 0;
}

