/* GENERAL */
* {
    box-sizing: border-box;
}
:root {
    /* Base Colors */
    --black: #070707;
    --darkgrey: #1a1f21;
    --grey: #676767;
    --lightgrey: #d9d9d9;
    --white: #f2f2f2;
    /* Accent Colors */
    --pink: #fdbbc0;
    --lightred: #fb4f5a;
    --red: #ef2037;

}
html {
    font-family: 'Inter', sans-serif;
}
body {
    padding-top: 73px;
}
.header {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}
.container {
    padding: 25px 50px;
    font-family: 'Inter', sans-serif;
}
/* NAVBAR */
.navbar {
    background-color: var(--lightgrey);
}
.title {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 1px;
    padding: 0;
}
#nav-links {
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-links>a>i {
    scale: 200%;
}
.btn-danger {
    background-color: var(--red);
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
}
.fa-bars {
    scale: 200%;
}
.navbar-toggler {
    border: none;
    padding-left: 10px;
}
.cb-brand {
    background-color: var(--red);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    padding-bottom: 0;
}
.offcanvas-body a:any-link {
    color: var(--white);
    text-align: center;
}
.offcanvas-body a:hover {
    color: var(--darkgrey);
}
#search-addon {
    background: none;
    scale: 150%;
}
/* HOMEPAGE */
#call-to-action>div {
    position: fixed;
    top: 150px;
    width: 650px;
    z-index: 0;
}
#call-to-action .header {
    color: var(--black);
    text-align: center;
    text-shadow: var(--white) 0 0 10px, var(--white) 0 0 10px, var(--white) 0 0 30px;
    font-weight: 800;
    font-size: 56px;
}
#call-to-action>img {
    position: fixed;
    width: 100%;
    top: 50px;
}
#page-body {
    position: relative;
    background-color: var(--white);
    top: 600px;
    height: 725px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 1;
}
/* REGISTRATION & LOG IN */
.side-img {
    max-height: 600px;
}
/* PROFILE PAGE */
#user-img {
    border-radius: 25%;
    box-shadow: var(--lightgrey) 0 0 30px;
}
#user-details {
    margin-left: 0;
    padding-left: 0;
}
#user-details p {
    margin: 16px 0;
}
#user-details li {
    font-weight: 400;
    font-size: 24px;
}
#user-details li span {
    color: var(--grey);
}
#user-bio {
    font-size: 20px;
}
#add-friend {
    height: 45px;
    width: 45px;
}
#fullname {
    font-weight: 700;
    float: left;
}
#username {
    clear: left;
}
#profile-tabs .btn.active {
    background-color: var(--red);
    border-color: var(--red);
    font-weight: 600;
}
/* CREATE RECIPE */
#img-upload img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}
.file-upload-placeholder {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 215px;
    border: 1px solid var(--lightgrey);
    background-color: white;
    border-radius: 6px;
    position: relative;
}
.file-upload-placeholder:hover {
    background-color: var(--lightgrey);
    border: 1px solid var(--lightgrey);
}
.file-upload-image {
    padding: 10px;
    border-radius: 15px;
}
#create-recipe-form .btn-sm {
    font-size: 18px;
    background-color: var(--lightred);
    border-color: var(--lightred);
}