/* GENERAL */
* {
    box-sizing: border-box;
}
:root {
    /* Base Colors */
    --black: #070707;
    --darkgrey: #1a1f21;
    --grey: #6c767d;
    --lightgrey: #d9d9d9;
    --white: #f2f2f2;
    /* Accent Colors */
    --pink: #fdbbc0;
    --lightred: #fb4f5a;
    --red: #ef2037;

}
html {
    font-family: 'Inter', sans-serif;
}
body {
    padding-top: 73px;
}
body::-webkit-scrollbar {
    display: none;
}
.header {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}
/* NAVBAR */
.navbar {
    background-color: var(--lightgrey);
}
.title {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 1px;
    padding: 0;
}
#nav-links {
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-links>a>i {
    scale: 200%;
}
.btn-danger {
    background-color: var(--red);
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
}
.fa-bars {
    scale: 200%;
}
.navbar-toggler {
    border: none;
    padding-left: 10px;
}
.cb-brand {
    background-color: var(--red);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    padding-bottom: 0;
}
.offcanvas-body a:any-link {
    color: var(--white);
    text-align: center;
}
.offcanvas-body a:hover {
    color: white;
}
.offcanvas-body h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
#search-addon {
    background: none;
    scale: 150%;
}
/* HOMEPAGE */
#call-to-action>div {
    position: fixed;
    top: 150px;
    width: 650px;
    z-index: 0;
}
#home-body {
    position: relative;
    background-color: var(--white);
    top: 475px;
    height: 725px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 1;
}
#call-to-action .header {
    color: var(--black);
    text-align: center;
    text-shadow: var(--white) 0 0 10px, var(--white) 0 0 10px, var(--white) 0 0 30px;
    font-weight: 800;
    font-size: 56px;
}
#call-to-action>img {
    position: fixed;
    width: 100%;
    top: 50px;
}
#page-body {
    position: relative;
    background-color: var(--white);
    top: 600px;
    height: 725px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 1;
}
/* REGISTRATION & LOG IN */
.side-img {
    max-height: 600px;
}
/* PROFILE PAGE */
#user-img {
    border-radius: 25%;
    box-shadow: var(--lightgrey) 0 0 30px;
}
#user-details {
    margin-left: 0;
    padding-left: 0;
}
#user-details p {
    margin: 16px 0;
}
#user-details li {
    font-weight: 400;
    font-size: 24px;
}
#user-details li span {
    color: var(--grey);
}
#user-bio {
    font-size: 20px;
    height: 100px;
}
#edit-profile-button {
    width: 50px;
    height: 50px;
    background-color: var(--lightred);
    border-color: var(--lightred);
    border-radius: 50%;
}
#edit-profile-button i {
    font-size: 22px;
}
#edit-profile-modal {
    z-index: 2;
}
#search-users-btn {
    width: 50px;
    height: 50px;
    background-color: var(--lightred);
    border-color: var(--lightred);
    border-radius: 50%;
}
#add-friend {
    height: 45px;
    width: 45px;
}
#fullname {
    font-weight: 700;
    float: left;
}
#username {
    clear: left;
}
#profile-tabs .btn {
    font-size: 24px;
}
#profile-tabs .btn.active {
    background-color: var(--red);
    border-color: var(--red);
    font-weight: 600;
}
/* CREATE RECIPE */
#img-upload img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}
.file-upload-placeholder {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 281px;
    border: 1px solid var(--lightgrey);
    background-color: white;
    border-radius: 6px;
    position: relative;
}
.file-upload-placeholder:hover {
    background-color: var(--lightgrey);
    border: 1px solid var(--lightgrey);
}
.file-upload-image {
    padding: 10px;
    border-radius: 15px;
}
#create-recipe-form .btn-sm {
    font-size: 18px;
    background-color: var(--lightred);
    border-color: var(--lightred);
}
/* RECIPE CARDS */
.recipe-card {
    font-family: 'Inter', sans-serif;
    /*min-width: 16rem;*/
    max-width: 22rem;
    /*margin: 25px;*/
    /*padding: 0;*/
}
.recipe-card:hover {
    cursor: pointer;
}
.recipe-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.recipe-card img {
    object-fit: cover;
    height: 200px;
    border-radius: 5px;
}
.recipe-card .save-recipe {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--lightred);
    font-size: 36px;
    z-index: 2;
}
.recipe-card-user {
    position: absolute;
    top: 160px;
    left: 10px;
}
.recipe-card-user a,
.spoonacular-user {
    color: var(--white);
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    width: max-content;
    height: 40px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}
.recipe-card-user img {
    border-radius: 50%;
    height: 35px;
}
.recipe-card .card-body {
    height: 175px;
    padding: 12px 16px;
    background-color: var(--lightgrey);
}
.recipe-card .card-title {
    font-weight: 600;
}
.card-foot {
    color: black;
    text-decoration: none;
}
/* RECIPE PAGE */
#recipe-banner {
    width: 100%;
    height: 450px;
    position: fixed;
}
#recipe-cover-image {
    height: 450px;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#recipe-cover-buttons {
    width: 100%;
    height: 450px;
    position: absolute;
    padding: 15px;
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
}
#recipe-page-save i {
    color: var(--lightred);
    font-size: 50px;
}
#recipe-page-user {
    height: calc(100% - 120px);
}
#recipe-page-user a {
    color: var(--white);
    text-decoration: none;
    font-size: 26px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
#recipe-page-user img {
    border-radius: 50%;
    height: 50px;
}
#recipe-body {
    border-radius: 20px;
    background-color: var(--white);
    position: absolute;
    top: 450px;
    width: 100%;
    min-height: 700px;
}
#recipe-rating i {
    font-size: 35px;
}
#recipe-stats a {
    color: var(--black);
    text-decoration: none;
    font-size: 26px;
    margin-left: 15px;
}
#recipe-details h5 {
    font-size: 32px;
    font-weight: 600;
}
#recipe-description {
    max-height: 100px;
    position: relative;
    overflow: hidden;
    font-size: 22px;
}
#recipe-description .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 21px;
    background-image: linear-gradient(to bottom, transparent, var(--white));
}
#recipe-description .button {
    border-radius: 5px;
    border: 1px solid var(--grey);
    background-color: var(--grey);
    color: var(--white);
    text-decoration: none;
    padding: 5px;
}
#ingredients, #recipe {
    font-size: 22px;
}
#create-review-btn {
    background-color: var(--lightred);
    border-color: var(--lightred);
}
#edit-recipe-details i {
    color: var(--lightred);
    font-size: 42px;
}
/* REVIEW CARD */
.review-card {
    background-color: var(--lightgrey);
}
.review-card img {
    border-radius: 50%;
    height: 40px;
}
.review-title .card-title {
    font-size: 28px;
    font-weight: 600;
}
.review-info {
    color: var(--black);
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
}
.review-info a {
    color: var(--black);
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
}
.review-info .fa-trash-can {
    color: var(--lightred);
    font-size: 28px;
}
.review-details .fa-star {
    font-size: 28px;
}
.star-rating .fa-star {
    color: var(--grey);
}
.rating {
    float:left;
    width:300px;
}
.rating span {
    float: right;
    position: relative;
}
.rating span input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    color: var(--grey);
}
.rating label, .rating input {
    padding: 0;
    margin: 0;
}
.rating input {
    display: none;
}
.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: var(--lightred);
}
.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    color: var(--lightred);
}
/* SEARCH PAGE */
#banner-image {
    background-image: url('../images/search-cover.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    position: fixed;
    top: 72px;
    z-index: 0;
}
.search-bar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#searchHTML {
    width: 550px;
    height: 40px;
    border-color: 1px solid var(--grey);
    box-sizing: border-box;
    border-radius: 7px;
}
#searchHTML:focus {
    background-color: var(--lightgrey);
    outline: none;
}
.search-container {
    padding-left: 25px;
    padding-right: 35px;
    font-family: 'Inter', sans-serif;
}
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
/* Modal content styles */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* Close button styles */
.close {
    display: inline-flex;
    justify-self: flex-end;
    color: #aaaaaa;
    float: left;
    font-size: 30px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.editYourProfile {
    position: absolute;
    margin-top: 5px;
    margin-bottom: 15px;
    display: inline-flex;
    align-self: center;
}
#bio {
    height: 133px;
}
.firstName, .lastName, .bio {
    font-weight: bold;
}
/* BROWSE PAGE */
#browse-body {
    position: relative;
    background-color: var(--white);
    top: 235px;
    height: 725px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 1;
}
#categories {
    display: flex;
    flex-flow: row;
    overflow: auto;
    white-space: nowrap;
}
#categories::-webkit-scrollbar {
    display: none;
}
#categories a {
    text-decoration: none;
    color: white;
    padding: 0 32px 0 0;
}
.category img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.category h5 {
    color: var(--black);
    font-weight: 600;
    text-align: center;
}
/* ABOUT US */
#about-us .circle-img {
    border-radius: 50%;
}
.dev-links i {
    font-size: 25px;
}
.dev-links .fa-github {
    color: #1a1e22;
}
.dev-links .fa-linkedin {
    color: #1163bd;
}
.dev-links .fa-copyright {
    color: #8bc34b;
}
/* ACTIVITY CARD */
.activity-card {
    height: 230px;
}
.activity-card .activity-head {
    background-color: var(--lightgrey);
    border-color: var(--lightgrey);
}
.activity-card .activity-head img {
    border-radius: 50%;
    height: 35px;
    float: left;
}
.activity-card .activity-head span {
    clear: right;
}
.activity-card .cover-img {
    height: 220px;
    object-fit: cover;
}
.activity-card .card-body {
    background-color: var(--lightgrey);
    border-color: var(--lightgrey);
    height: 220px;
}
.activity-card .star-rating i,
.recipe-card .star-rating i {
    font-size: 22px;
    margin: -2px;
}
.activity-card h5 {
    font-weight: 600;
}
.activity-description {
    position: relative;
    overflow: hidden;
    font-size: 18px;
}
.activity-description .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 18px;
    background-image: linear-gradient(to bottom, transparent, var(--lightgrey));
}
.activity-description .button {
    border-radius: 5px;
    border: 1px solid var(--grey);
    background-color: var(--grey);
    color: var(--white);
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
}
.activity-description .card-foot {
    background-color: transparent;
}
/* Search User Card */
.user-search-card{
    border-radius: 20px;
    border-width: 3px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.card-img-left{
    border-radius: 19px;
    max-width: 100px;
    max-height: 100px;
}
.search-user-firstname, .search-user-username{
    display: inline-flex;
    color: black;
}
.user-anchor{
    text-decoration: none;
}
.user-anchor:hover{
    text-decoration: underline;
    text-decoration-color: #1163bd;
}
/*Following/ Followers Button*/
#followers-btn, #following-btn{
    border-style: none;
    background-color: var(--white);
}
#following-btn:hover, #followers-btn:hover{
    background-color: var(--lightgrey);
    border-radius: 20px;
}
.followers-modal-title, .following-modal-title{
    position: absolute;
    margin-top: 5px;
    margin-bottom: 15px;
    display: inline-flex;
    align-self: center;
}
#followersListModal, #followingListModal{
    position: absolute;
}
.modal-backdrop{
    display: none;
}
.modal-content{
    margin-top: 20%;
}

/* Andre's CSS for Form Validation */
/*Proceed with caution*/

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 5px;
    margin-top: 1px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
}
