.sidebar-box{
    max-height: 100px;
    position: relative;
    overflow: hidden;
}
.sidebar-box .read-more{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0; padding: 20px 0;
    background-image: linear-gradient(to bottom, transparent, white);
}
.button{
    box-sizing: border-box;
    border-radius: 5px;
    border-style: solid;
    border-color: #7a7878;
    background-color: #7a7878;
    border-width: thick;
    color: white;
    text-decoration: none;
}
.recipe-page-rating .fa-star{
    font-size: xx-large;
}
.card-comment, .card-bookmark{
    color: black;
    text-decoration: none;
}
.col-md-2{
    display: flex;
    justify-content: flex-end;
}
#ingredients-btn, #recipe-btn, #reviews-btn{
    border-style: none;
    background-color: grey;
}
#ingredients-btn.active, #recipe-btn.active, #reviews-btn.active{
    background-color: #ef2037;
}
