<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials :: head"></head>
<title>About Us</title>
<body style="background-color: var(--white);">
<nav th:replace="partials :: navbar"></nav>

<div id="about-us" class="container">
    <div id="dev-team" class="row mt-4">
        <h1 class="header">Meet Our Team</h1>
        <hr class="mb-5">
        <div class="col-6 col-lg-3 text-center">
            <img th:src="@{images/pastalady.jpg}" src="" class="circle-img img-fluid" alt="Kaylee Morris">
            <h3>Kaylee Morris</h3>
            <h5>Frontend Developer</h5>
            <div class="dev-links">
                <i class="fa-brands fa-github m-1"></i>
                <i class="fa-brands fa-linkedin m-1"></i>
                <i class="fa-solid fa-copyright m-1"></i>
            </div>
        </div>
        <div class="col-6 col-lg-3 text-center">
            <img th:src="@{images/pizzaman.jpg}" src="" class="circle-img img-fluid" alt="Matias Silva">
            <h3>Matias Silva</h3>
            <h5>Frontend Developer</h5>
            <div class="dev-links">
                <i class="fa-brands fa-github m-1"></i>
                <i class="fa-brands fa-linkedin m-1"></i>
                <i class="fa-solid fa-copyright m-1"></i>
            </div>
        </div>
        <div class="col-6 col-lg-3 mt-4 mt-lg-0 text-center">
            <img th:src="@{images/pizzaman.jpg}" src="" class="circle-img img-fluid" alt="Joshua Mullins">
            <h3>Joshua Mullins</h3>
            <h5>Backend Developer</h5>
            <div class="dev-links">
                <i class="fa-brands fa-github m-1"></i>
                <i class="fa-brands fa-linkedin m-1"></i>
                <i class="fa-solid fa-copyright m-1"></i>
            </div>
        </div>
        <div class="col-6 col-lg-3 mt-4 mt-lg-0 text-center">
            <img th:src="@{images/pizzaman.jpg}" src="" class="circle-img img-fluid" alt="Andre Salinas">
            <h3>Andre Salinas</h3>
            <h5>Backend Developer</h5>
            <div class="dev-links">
                <i class="fa-brands fa-github m-1"></i>
                <i class="fa-brands fa-linkedin m-1"></i>
                <i class="fa-solid fa-copyright m-1"></i>
            </div>
        </div>
    </div>
    <div id="dev-process" class="row mt-4">
        <h1 class="header">Development Process</h1>
        <hr class="mb-5">
    </div>

</div>


<div th:replace="partials :: script"></div>
</body>
</html>