<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials :: head"></head>
<title>Create Recipe</title>
<link rel="icon" href="../static/images/stir-fry.png" th:href="@{../images/stir-fry.png}">
<body style="background-color: #f2f2f2;">
<nav th:replace="partials :: navbar"></nav>

<section style="background-color: #f2f2f2;">
    <form id="create-recipe-form" th:action="@{/recipe/create}" th:method="post">
        <div class="row ms-5 me-5 ps-5 pe-5 pt-4 pb-4">
            <!-- RECIPE DETAILS -->
            <div id="create-recipe-details" class="row mb-3">
                <h1 class="header">Recipe Details</h1>
                <hr>
                <div class="col-md-8 col-12">
                    <div class="form-floating mb-2">
                        <input type="text" th:name="title" class="form-control" id="create-recipe-title" placeholder="Recipe Title">
                        <label for="create-recipe-title">Recipe Title</label>
                    </div>
                    <div class="form-floating mb-2">
                        <textarea th:name="description" class="form-control" id="create-recipe-description" placeholder="Recipe Description" rows="5" style="height: 150px;"></textarea>
                        <label for="create-recipe-description">Recipe Description</label>
                    </div>
                    <div class="row">
                        <div class="col-4 pe-1">
                            <div class="form-floating mb-2">
                                <input th:name="time" type="number" class="form-control" id="create-recipe-time" placeholder="Prep Time">
                                <label for="create-recipe-time">Prep Time (minutes)</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-floating mb-2">
                                <input th:name="servings" type="number" class="form-control" id="create-recipe-servings" placeholder="Servings">
                                <label for="create-recipe-servings">Servings</label>
                            </div>
                        </div>
                        <div class="col-4 ps-1">
                            <div class="mb-2">
                                <select th:name="category" class="form-select" id="create-recipe-category" aria-label="Category" style="height: 58px;">
                                    <option value="1" selected>Main Course</option>
                                    <option value="2">Side Dish</option>
                                    <option value="4">Appetizer</option>
                                    <option value="6">Bread</option>
                                    <option value="8">Soup</option>
                                    <option value="5">Salad</option>
                                    <option value="7">Breakfast</option>
                                    <option value="3">Dessert</option>
                                    <option value="10">Sauce</option>
                                    <option value="9">Beverage</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">

                    <div id="img-upload">
                        <img src="../static/images/photo.png" th:src="@{../images/photo.png}" class="img-fluid file-upload-image" alt="Photo upload image" id="recipeImage"/>
                    </div>
                    <input type="hidden" value="0" id="fileStackResponse" th:name="imageURL">
                </div>
            </div>
            <!-- RECIPE INGREDIENTS -->
            <th:block>
            <div id="create-recipe-ingredients" class="row mb-3">
                <div class="col">
                    <h1 class="header">Ingredients</h1>
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <button type="button" id="add-ing-btn" class="btn btn-sm btn-danger justify-self-end">Add Ingredient</button>
                </div>
                <hr>
                <div class="row">
                    <div class="col-7 d-flex justify-content-center">
                        <h5 class="">Ingredients</h5>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <h5>Quantity</h5>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <h5>Unit</h5>
                    </div>
                </div>
                <ol th:object="${ingredients}">
                    <li id="ingredient-field">
                        <div class="row g-3 mb-1">
                            <div class="col-7">
                                <input type="text" th:field="*{ingredients[0].name}" class="form-control" id="create-recipe-ingredient" placeholder="e.g. flour, sifted" aria-label="Ingredient Name">
                            </div>
                            <div class="col-sm">
                                <input type="number" step="0.25" th:field="*{ingredients[0].amount}" class="form-control" placeholder="Quantity" aria-label="Quantity">
                            </div>
                            <div id="unit-select" class="col-sm">
                                <select th:field="*{ingredients[0].unit}" class="form-select" aria-label="Unit">
                                    <option value="null" selected>--</option>
                                    <option value="cups">cups</option>
                                    <option value="tsp">tsp</option>
                                    <option value="tbsp">tbsp</option>
                                    <option value="quarts">quarts</option>
                                    <option value="floz">fl oz</option>
                                    <option value="handful">handful</option>
                                </select>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row g-3 mb-1">
                            <div class="col-sm-7">
                                <input type="text" th:field="*{ingredients[1].name}" class="form-control" placeholder="e.g. butter, softened" aria-label="Ingredient Name">
                            </div>
                            <div class="col-sm">
                                <input type="number" step="0.25" th:field="*{ingredients[1].amount}" class="form-control" placeholder="Quantity" aria-label="Quantity">
                            </div>
                            <div class="col-sm">
                                <select th:field="*{ingredients[1].unit}" class="form-select" aria-label="Unit">
                                    <option value="null" selected>--</option>
                                    <option value="cups">cups</option>
                                    <option value="tsp">tsp</option>
                                    <option value="tbsp">tbsp</option>
                                    <option value="quarts">quarts</option>
                                    <option value="floz">fl oz</option>
                                    <option value="handful">handful</option>
                                </select>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row g-3 mb-1">
                            <div class="col-sm-7">
                                <input type="text" th:field="*{ingredients[2].name}" class="form-control" placeholder="e.g. eggs, beat" aria-label="Ingredient Name">
                            </div>
                            <div class="col-sm">
                                <input type="number" step="0.25" th:field="*{ingredients[2].amount}" class="form-control" placeholder="Quantity" aria-label="Quantity">
                            </div>
                            <div class="col-sm">
                                <select th:field="*{ingredients[2].unit}" class="form-select" aria-label="Unit">
                                    <option value="null" selected>--</option>
                                    <option value="cups">cups</option>
                                    <option value="tsp">tsp</option>
                                    <option value="tbsp">tbsp</option>
                                    <option value="quarts">quarts</option>
                                    <option value="floz">fl oz</option>
                                    <option value="handful">handful</option>
                                </select>
                            </div>
                        </div>
                    </li>
                <!--<li class="ingredient-field"></li>-->
                </ol>
            </div>
            </th:block>
            <th:block>
            <!-- RECIPE INSTRUCTIONS -->
            <div id="create-recipe-instructions" class="row">
                <div class="col">
                    <h1 class="header">Instructions</h1>
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <button type="button" class="btn btn-sm btn-danger justify-self-end">Add Step</button>
                </div>
                <hr>
                <ol th:object="${instructions}">
                    <li>
                        <div class="form-floating mb-1">
                            <input type="hidden" value="1" th:field="*{instructions[0].order_num}">
                            <textarea th:field="*{instructions[0].content}" class="form-control" placeholder="Recipe Instructions" id="create-recipe-step-1" rows="3"></textarea>
                            <label for="create-recipe-step-1">Step One</label>
                        </div>
                    </li>
                    <li>
                        <div class="form-floating mb-1">
                            <input type="hidden" value="2" th:field="*{instructions[1].order_num}">
                            <textarea th:field="*{instructions[1].content}" class="form-control" placeholder="Recipe Instructions" id="create-recipe-step-2" rows="3"></textarea>
                            <label for="create-recipe-step-2">Step Two</label>
                        </div>
                    </li>
                    <li>
                        <div class="form-floating mb-1">
                            <input type="hidden" value="3" th:field="*{instructions[2].order_num}">
                            <textarea th:field="*{instructions[2].content}" class="form-control" placeholder="Recipe Instructions" id="create-recipe-step-3" rows="3"></textarea>
                            <label for="create-recipe-step-3">Step Three</label>
                        </div>
                    </li>
                </ol>
            </div>
            </th:block>
            <div class="d-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-lg btn-danger col-2">Submit</button>
            </div>
        </div>
    </form>
</section>

<div th:replace="partials :: script"></div>
<!-- Filestack JS -->
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:inline="javascript">

     const client = filestack.init([[${filestack}]]);
     const options = {
         onFileUploadFinished(file) {
             console.log(file);
             $('#fileStackResponse').val(file.url)
             $('#recipeImage').attr('src', file.url).removeData('th:src')
         }
     }
     $(`#img-upload`).click(function(){
         client.picker(options).open();
     });

    function readURL(input) {
        if (input.files && input.files[0]) {                      // if input is file, files has content
            var inputFileData = input.files[0];                     // shortcut
            var reader = new FileReader();                          // FileReader() : init
            reader.onload = function(e) {                           /* FileReader : set up ************** */
                console.log('e',e)
                $('.file-upload-image').attr('src', e.target.result); // image element : set src data.
                $('.image-title').html(inputFileData.name);           // set image's title
            };
            console.log('input.files[0]',input.files[0])
            reader.readAsDataURL(inputFileData);     // reads target inputFileData, launch `.onload` actions
        } else { removeUpload(); }
    }

    function removeUpload() {
        var $clone = $('.file-upload-input').val('').clone(true); // create empty clone
        $('.file-upload-input').replaceWith($clone);              // reset input: replaced by empty clone
        $('.file-upload-placeholder').show();                     // show placeholder
    }

    // Style when drag-over
    $('.file-upload-placeholder').bind('dragover', function () {
        $('.file-upload-placeholder').addClass('image-dropping');
    });
    $('.file-upload-placeholder').bind('dragleave', function () {
        $('.file-upload-placeholder').removeClass('image-dropping');
    });

    $(document).ready(function(){
        $(".unit-select").html($("#unit-select").html());
    });

    $("#add-ing-btn").click(function(){
        $(".ingredient-field").html($("#ingredient-field").html());
    });

</script>
<!-- Recipe Title Validation -->
<script>
        function validateTitleLength(name) {
        const nameLength = name.length;
        return nameLength >= 1 && nameLength <= 100 ;
    }
</script>
<!-- Recipe Instruction Validation -->
<script>
    function validateInstructionLength(step) {
        const stepLength = step.length;
        return stepLength >= 1 && stepLength <= 100 ;
    }
</script>
<!-- Recipe Ingredient Validation -->
<script>
    function validateIngredientLength(ing) {
        const ingLength = ing.length;
        return ingLength >= 1 && ingLength <= 100 ;
    }
</script>
</body>
</html>
