<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials :: head"></head>
<title>Edit Recipe</title>
<body style="background-color: #f2f2f2;">
<nav th:replace="partials :: navbar"></nav>

<section style="background-color: #f2f2f2;">
  <form id="edit-recipe-form" th:action="@{/recipe/edit}" th:method="post">
    <div class="row ms-5 me-5 ps-5 pe-5 pt-4 pb-4">
      <!-- RECIPE DETAILS -->
      <input type="hidden" th:name="id" th:value="${recipe.getId()}">
      <div id="edit-recipe-details" class="row mb-3">
        <div class="col">
          <h1 class="header">Recipe Details</h1>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
          <a th:href="@{'/recipe/' + ${recipe.getRecipe().getId()} + '/delete'}">
            <i class="fa-regular fa-trash-can pb-2"></i>
          </a>
        </div>
        <hr>
        <div class="col-md-8 col-12">
          <div class="form-floating mb-2">
            <input type="text" th:name="title" th:value="${recipe.getRecipe().title}" class="form-control" id="edit-recipe-title" placeholder="Recipe Title">
            <label for="edit-recipe-title">Recipe Title</label>
          </div>
          <div class="form-floating mb-2">
            <textarea th:name="description" th:text="${recipe.summary}" class="form-control" id="edit-recipe-description" placeholder="Recipe Description" rows="5" style="height: 150px;"></textarea>
            <label for="edit-recipe-description">Recipe Description</label>
          </div>
          <div class="row">
            <div class="col-4 pe-1">
              <div class="form-floating mb-2">
                <input th:name="time" th:value="${recipe.readyInMinutes}" type="number" class="form-control" id="edit-recipe-time" placeholder="Prep Time">
                <label for="edit-recipe-time">Prep Time (minutes)</label>
              </div>
            </div>
            <div class="col-4">
              <div class="form-floating mb-2">
                <input th:name="servings" th:value="${recipe.servings}" type="number" class="form-control" id="edit-recipe-servings" placeholder="Servings">
                <label for="edit-recipe-servings">Servings</label>
              </div>
            </div>
            <div class="col-4 ps-1">
              <!-- TODO: Use thymeleaf to populate options -->
              <div class="mb-2">
                <select th:name="category" class="form-select" id="edit-recipe-category" aria-label="Category" style="height: 58px;">
                  <option value="0">Blah</option>
                  <option value="1" th:selected="${recipe.getRecipe().dishTypes[0].type == 'main course'}">Main Course</option>
                  <option value="2" th:selected="${recipe.getRecipe().dishTypes[0].type == 'side dish'}">Side Dish</option>
                  <option value="4" th:selected="${recipe.getRecipe().dishTypes[0].type == 'appetizer'}">Appetizer</option>
                  <option value="6" th:selected="${recipe.getRecipe().dishTypes[0].type == 'bread'}">Bread</option>
                  <option value="8" th:selected="${recipe.getRecipe().dishTypes[0].type == 'soup'}">Soup</option>
                  <option value="5" th:selected="${recipe.getRecipe().dishTypes[0].type == 'salad'}">Salad</option>
                  <option value="7" th:selected="${recipe.getRecipe().dishTypes[0].type == 'breakfast'}">Breakfast</option>
                  <option value="3" th:selected="${recipe.getRecipe().dishTypes[0].type == 'dessert'}">Dessert</option>
                  <option value="10" th:selected="${recipe.getRecipe().dishTypes[0].type == 'sauce'}">Sauce</option>
                  <option value="9" th:selected="${recipe.getRecipe().dishTypes[0].type == 'beverage'}">Beverage</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="file-upload-placeholder col-md-4 col-sm-12">
          <div id="img-upload">
            <img th:src="${recipe.getRecipe().getImage()}" src="" class="img-fluid file-upload-image" alt="Photo upload image" id="recipeImage"/>
          </div>
          <input type="hidden" th:value="${recipe.getRecipe().getImage()}" id="fileStackResponse" th:name="imageURL">
        </div>
      </div>
      <!-- RECIPE INGREDIENTS -->
      <th:block>
        <div id="edit-recipe-ingredients" class="row mb-3">
          <div class="col">
            <h1 class="header">Ingredients</h1>
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <button type="button" id="add-ing-btn" class="btn btn-sm btn-danger justify-self-end">Add Ingredient</button>
          </div>
          <hr>
          <div class="row">
            <div class="col-7 d-flex justify-content-center">
              <h5 class="">Ingredients</h5>
            </div>
            <div class="col d-flex justify-content-center">
              <h5>Quantity</h5>
            </div>
            <div class="col d-flex justify-content-center">
              <h5>Unit</h5>
            </div>
          </div>
          <ol th:object="${ingredients}">
            <li id="ingredient-field">
              <div class="row g-3 mb-1">
                <div class="col-7">
                  <input type="text" th:field="*{ingredients[0].name}" class="form-control" id="create-recipe-ingredient" placeholder="e.g. flour, sifted" aria-label="Ingredient Name">
                </div>
                <div class="col-sm">
                  <input type="number" step="0.25" th:field="*{ingredients[0].amount}" class="form-control" placeholder="Quantity" aria-label="Quantity">
                </div>
                <div id="unit-select" class="col-sm">
                  <select th:field="*{ingredients[0].unit}" class="form-select" aria-label="Unit">
                    <option value="null" selected>--</option>
                    <option value="cups">cups</option>
                    <option value="tsp">tsp</option>
                    <option value="tbsp">tbsp</option>
                    <option value="quarts">quarts</option>
                    <option value="floz">fl oz</option>
                    <option value="handful">handful</option>
                  </select>
                </div>
              </div>
            </li>
            <li>
              <div class="row g-3 mb-1">
                <div class="col-sm-7">
                  <input type="text" th:field="*{ingredients[1].name}" class="form-control" placeholder="e.g. butter, softened" aria-label="Ingredient Name">
                </div>
                <div class="col-sm">
                  <input type="number" step="0.25" th:field="*{ingredients[1].amount}" class="form-control" placeholder="Quantity" aria-label="Quantity">
                </div>
                <div class="col-sm">
                  <select th:field="*{ingredients[1].unit}" class="form-select" aria-label="Unit">
                    <option value="null" selected>--</option>
                    <option value="cups">cups</option>
                    <option value="tsp">tsp</option>
                    <option value="tbsp">tbsp</option>
                    <option value="quarts">quarts</option>
                    <option value="floz">fl oz</option>
                    <option value="handful">handful</option>
                  </select>
                </div>
              </div>
            </li>
            <li>
              <div class="row g-3 mb-1">
                <div class="col-sm-7">
                  <input type="text" th:field="*{ingredients[2].name}" class="form-control" placeholder="e.g. eggs, beat" aria-label="Ingredient Name">
                </div>
                <div class="col-sm">
                  <input type="number" step="0.25" th:field="*{ingredients[2].amount}" class="form-control" placeholder="Quantity" aria-label="Quantity">
                </div>
                <div class="col-sm">
                  <select th:field="*{ingredients[2].unit}" class="form-select" aria-label="Unit">
                    <option value="null" selected>--</option>
                    <option value="cups">cups</option>
                    <option value="tsp">tsp</option>
                    <option value="tbsp">tbsp</option>
                    <option value="quarts">quarts</option>
                    <option value="floz">fl oz</option>
                    <option value="handful">handful</option>
                  </select>
                </div>
              </div>
            </li>
            <!--<li class="ingredient-field"></li>-->
          </ol>
        </div>
      </th:block>
      <th:block>
        <!-- RECIPE INSTRUCTIONS -->
        <div id="create-recipe-instructions" class="row">
          <div class="col">
            <h1 class="header">Instructions</h1>
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-sm btn-danger justify-self-end">Add Step</button>
          </div>
          <hr>
          <ol th:object="${instructions}">
            <li>
              <div class="form-floating mb-1">
                <input type="hidden" value="1" th:field="*{instructions[0].order_num}">
                <textarea th:field="*{instructions[0].content}" class="form-control" placeholder="Recipe Instructions" id="create-recipe-step-1" rows="3"></textarea>
                <label for="create-recipe-step-1">Step One</label>
              </div>
            </li>
            <li>
              <div class="form-floating mb-1">
                <input type="hidden" value="2" th:field="*{instructions[1].order_num}">
                <textarea th:field="*{instructions[1].content}" class="form-control" placeholder="Recipe Instructions" id="create-recipe-step-2" rows="3"></textarea>
                <label for="create-recipe-step-2">Step Two</label>
              </div>
            </li>
            <li>
              <div class="form-floating mb-1">
                <input type="hidden" value="3" th:field="*{instructions[2].order_num}">
                <textarea th:field="*{instructions[2].content}" class="form-control" placeholder="Recipe Instructions" id="create-recipe-step-3" rows="3"></textarea>
                <label for="create-recipe-step-3">Step Three</label>
              </div>
            </li>
          </ol>
        </div>
      </th:block>
      <div class="d-flex justify-content-center align-items-center">
        <button type="submit" class="btn btn-lg btn-danger col-2">Submit</button>
      </div>
    </div>
  </form>
</section>

<div th:replace="partials :: script"></div>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:inline="javascript">

  // Controls the file uploader
  const client = filestack.init([[${filestack}]]);
  const options = {
    onFileUploadFinished(file) {
      console.log(file);
      $('#fileStackResponse').val(file.url)
      $('#recipeImage').attr('src', file.url).removeData('th:src')
    }
  }

  $(`#img-upload`).click(function(){
    client.picker(options).open();
  });

  // Populates more fields
  $(document).ready(function(){
    $(".unit-select").html($("#unit-select").html());
  });

  $("#add-ing-btn").click(function(){
    $(".ingredient-field").html($("#ingredient-field").html());
  });

</script>

</body>
</html>