<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials :: head"></head>
<title>Cookbook Home</title>
<body style="background-color: var(--white);">
<nav th:replace="partials :: navbar"></nav>

  <!-- CALL TO ACTION -->
  <!-- TODO: Improve call to action statement -->
  <div id="call-to-action" class="d-flex justify-content-center">
    <img src="../static/images/cover-image.jpg" width="4960" th:src="@{images/cover-image.jpg}" style="opacity: 0.65"/>
    <div class="d-flex flex-column justify-content-center align-content-center">
      <span class="header">Join our community of foodies & discover delicious new recipes!</span>
      <a class="btn btn-danger w-25 align-self-center mt-5" style="font-size: 30px;" href="/register">Join Now</a>
    </div>
  </div>
  <div id="page-body" style="background-color: var(--white); height: 100%;">
    <div class="container">
      <div class="discover-container">
        <div style="width: 100%;">
          <h2 class="header">Popular Categories</h2>
        </div>
        <a th:href="@{/category/main-course}" class="category-circle">
          <img src="/images/skillet.jpeg" alt="category image">
          <h5 class="circle-text">Main Course</h5>
        </a>
        <a th:href="@{/category/side-dish}" class="category-circle">
          <img src="/images/food-placeholder.jpeg" alt="category image">
          <h5 class="circle-text">Side Dish</h5>
        </a>
        <a th:href="@{/category/breakfast}" class="category-circle">
          <img src="/images/stir-fry.png" alt="category image">
          <h5 class="circle-text">Breakfast</h5>
        </a>
        <a th:href="@{/category/dessert}" class="category-circle">
          <img src="/images/skillet.jpeg" alt="category image">
          <h5 class="circle-text">Dessert</h5>
        </a>
        <a th:href="@{/category/beverage}" class="category-circle">
          <img src="/images/cooking.jpg" alt="category image">
          <h5 class="circle-text">Beverage</h5>
        </a>
      </div>
      <div class="trending-dishes-container">
        <div style="width: 100%;">
          <h2 class="header">Trending Dishes</h2>
        </div>
        <div class="d-flex flex-wrap flex-row justify-content-between">
          <th:block th:each="recipe : ${trendingRecipes}">
            <div th:replace="partials :: recipe-card(
                            id = ${recipe.getId()},
                            saved = ${userDao.checkIfSaved(loggedInUser, recipe)? 'fa-solid' : 'fa-regular'},
                            image = ${recipe.getImage()},
                            rating = ${recipeDao.getRatingAverageByRecipe(recipe)},
                            title = ${recipe.getTitle()},
                            username = ${recipe.getCustom_recipe().getCreator_id().getUsername()},
                            userimg = ${recipe.getCustom_recipe().getCreator_id().getProfilePicture()},
                            firstname = ${recipe.getCustom_recipe().getCreator_id().getFirstName()},
                            lastname = ${recipe.getCustom_recipe().getCreator_id().getLastName()},
                            date = ${#dates.format(recipe.getCreatedAt(), 'MMM dd, yyyy')},
                            reviews = ${recipe.getReviews().size},
                            saves = ${recipeDao.getNumberOfSavesByRecipeTitle(recipe.getTitle())})">
            </div>
          </th:block>
        </div>
      </div>
      <div class="popular-dishes-container">
        <div style="width: 100%;">
          <h2 class="header">Most Popular Dishes</h2>
        </div>
        <div class="d-flex flex-wrap flex-row justify-content-between">
          <th:block th:each="recipe : ${popularRecipes}">
            <div th:replace="partials :: recipe-card(
                            id = ${recipe.getId()},
                            saved = ${userDao.checkIfSaved(loggedInUser, recipe)? 'fa-solid' : 'fa-regular'},
                            image = ${recipe.getImage()},
                            rating = ${recipeDao.getRatingAverageByRecipe(recipe)},
                            title = ${recipe.getTitle()},
                            username = ${recipe.getCustom_recipe().getCreator_id().getUsername()},
                            userimg = ${recipe.getCustom_recipe().getCreator_id().getProfilePicture()},
                            firstname = ${recipe.getCustom_recipe().getCreator_id().getFirstName()},
                            lastname = ${recipe.getCustom_recipe().getCreator_id().getLastName()},
                            date = ${#dates.format(recipe.getCreatedAt(), 'MMM dd, yyyy')},
                            reviews = ${recipe.getReviews().size},
                            saves = ${recipeDao.getNumberOfSavesByRecipeTitle(recipe.getTitle())})">
            </div>
          </th:block>
        </div>
      </div>
    </div>
  </div>


<div th:replace="partials :: script"></div>
</body>
</html>
