<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials :: head"></head>
<title>Cookbook Home</title>
<body style="background-color: var(--white);">
<nav th:replace="partials :: navbar"></nav>

  <!-- CALL TO ACTION -->
  <!-- TODO: Improve call to action statement -->
  <div id="call-to-action" class="d-flex justify-content-center">
    <img src="../static/images/cover-image.jpg" width="4960" th:src="@{images/cover-image.jpg}" style="opacity: 0.65"/>
    <div class="d-flex flex-column justify-content-center align-content-center">
      <span class="header">Join our community of foodies & discover delicious new recipes!</span>
      <a class="btn btn-danger w-25 align-self-center mt-5" style="font-size: 30px;" href="/register">Join Now</a>
    </div>
  </div>
<div id="home-body" class="pt-4" style="background-color: var(--white); height: 100%;">
  <div class="container">
    <div id="category-content">
      <div class="row">
        <h2 class="header">Popular Categories</h2>
        <hr>
      </div>
      <div id="categories">
        <a th:href="@{/category/main-course}" class="category">
          <img src="/images/main-course.jpeg" alt="category image">
          <h5>Main Course</h5>
        </a>
        <a th:href="@{/category/side-dish}" class="category">
          <img src="/images/side-dish.png" alt="category image">
          <h5>Side Dishes</h5>
        </a>
        <a th:href="@{/category/appetizer}" class="category">
          <img src="/images/appetizer.jpeg" alt="category image">
          <h5>Appetizers</h5>
        </a>
        <a th:href="@{/category/bread}" class="category">
          <img src="/images/bread.jpeg" alt="category image">
          <h5>Bread</h5>
        </a>
        <a th:href="@{/category/soup}" class="category">
          <img src="/images/soup.jpeg" alt="category image">
          <h5>Soups</h5>
        </a>
        <a th:href="@{/category/salad}" class="category">
          <img src="/images/salad.jpeg" alt="category image">
          <h5>Salads</h5>
        </a>
        <a th:href="@{/category/breakfast}" class="category">
          <img src="/images/breakfast.jpeg" alt="category image">
          <h5>Breakfast</h5>
        </a>
        <a th:href="@{/category/dessert}" class="category">
          <img src="/images/dessert.jpeg" alt="category image">
          <h5>Desserts</h5>
        </a>
        <a th:href="@{/category/sauce}" class="category">
          <img src="/images/sauce.jpeg" alt="category image">
          <h5>Sauces</h5>
        </a>
        <a th:href="@{/category/beverage}" class="category">
          <img src="/images/beverage.jpeg" alt="category image">
          <h5>Beverages</h5>
        </a>
      </div>
    </div>
    <div id="trending-content">
      <div class="row mt-4">
        <h2 class="header">Trending Dishes</h2>
        <hr>
      </div>
      <div class="d-flex flex-wrap flex-row justify-content-start">
        <th:block th:each="recipe : ${trendingRecipes}">
          <div th:replace="partials :: recipe-card(
              id = ${recipe.getId()},
              saved = ${userDao.checkIfSaved(loggedInUser, recipe)? 'unsaveRecipe fa-solid' : 'saveRecipe fa-regular'},
              image = ${recipe.getImage()},
              rating = ${recipeDao.getRatingAverageByRecipe(recipe)},
              title = ${recipe.getTitle()},
              username = ${recipe.getCustom_recipe().getCreator_id().getUsername()},
              userimg = ${recipe.getCustom_recipe().getCreator_id().getProfilePicture()},
              firstname = ${recipe.getCustom_recipe().getCreator_id().getFirstName()},
              lastname = ${recipe.getCustom_recipe().getCreator_id().getLastName()},
              date = ${#dates.format(recipe.getCreatedAt(), 'MMM dd, yyyy')},
              reviews = ${recipe.getReviews().size},
              saves = ${recipeDao.getNumberOfSavesByRecipeTitle(recipe.getTitle())})">
          </div>
        </th:block>
      </div>
    </div>
    <div id="popular-content">
      <div class="row mt-4">
        <h2 class="header">Popular Dishes</h2>
        <hr>
      </div>
      <div class="d-flex flex-wrap flex-row justify-content-start">
        <th:block th:each="recipe : ${popularRecipes}">
          <div th:replace="partials :: recipe-card(
              id = ${recipe.getId()},
              saved = ${userDao.checkIfSaved(loggedInUser, recipe)? 'unsaveRecipe fa-solid' : 'saveRecipe fa-regular'},
              image = ${recipe.getImage()},
              rating = ${recipeDao.getRatingAverageByRecipe(recipe)},
              title = ${recipe.getTitle()},
              username = ${recipe.getCustom_recipe().getCreator_id().getUsername()},
              userimg = ${recipe.getCustom_recipe().getCreator_id().getProfilePicture()},
              firstname = ${recipe.getCustom_recipe().getCreator_id().getFirstName()},
              lastname = ${recipe.getCustom_recipe().getCreator_id().getLastName()},
              date = ${#dates.format(recipe.getCreatedAt(), 'MMM dd, yyyy')},
              reviews = ${recipe.getReviews().size},
              saves = ${recipeDao.getNumberOfSavesByRecipeTitle(recipe.getTitle())})">
          </div>
        </th:block>
      </div>
    </div>
  </div>
</div>


<div th:replace="partials :: script"></div>
</body>
</html>
