<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials :: head">
  <title>Cookbook</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

  <!-- CALL TO ACTION -->
  <div id="call-to-action" class="d-flex justify-content-center">
    <img src="../static/images/cover-image.jpg" width="4960" th:src="@{images/cover-image.jpg}" style="opacity: 0.65"/>
    <div class="d-flex flex-column justify-content-center align-content-center">
      <span class="header">Join our community of foodies & discover delicious new recipes!</span>
      <a class="btn btn-danger w-25 align-self-center mt-5" style="font-size: 30px;" href="/register">Join Now</a>
    </div>
  </div>
  <div id="page-body">
    <div class="container">
      <h1 class="header" style="font-weight: 600;">Popular Categories</h1>
    </div>
  </div>

<div th:replace="partials :: script"></div>
</body>
</html>
