<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- HEAD FRAGMENT -->
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/stir-fry.png" th:href="@{../images/stir-fry.png}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e8ac724fbe.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>

<!-- NAVBAR FRAGMENT -->
<nav th:fragment="navbar">
    <nav class="navbar fixed-top">
        <div class="container-fluid">
            <div class="col d-flex">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <a class="col navbar-brand title text-center" href="/home">cook<span style="color: var(--red);">book</span></a>
            <div class="col d-flex align-items-center justify-content-end" id="nav-links">
                <a class="nav-link" aria-current="page" href="/feed"><i class="fa-solid fa-utensils me-4"></i></a>
                <a class="nav-link" href="/browse"><i class="fa-solid fa-book-open ms-2 me-4"></i></a>
                <th:block sec:authorize="!isAuthenticated()">
                    <a class="btn btn-danger" href="/login" style="height: 45px; width: 100px;">Log In</a>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn btn-danger ms-3" style="height: 45px; width: 100px;">Log Out</button>
                    </form>
                </th:block>
            </div>
            <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h1 class="title">cook<span style="color: var(--red);">book</span></h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close" style="margin: 0"></button>
                </div>
                <div class="offcanvas-body d-flex flex-column align-items-center pt-0">
                    <a class="btn text-white btn-floating m-1 cb-brand" href="/profile" role="button">
                        <h1 class="title" style="font-size: 64px;">cb</h1>
                    </a>
                    <th:block sec:authorize="isAuthenticated()">
                        <h4 th:text="'@' + ${#authentication.principal.username}">Username</h4>
                    </th:block>
                    <ul class="navbar-nav flex-grow-1 pe-3 pt-4">
                        <li class="nav-item">
                            <a class="nav-link header" href="/browse"><h5>Browse Recipes</h5></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header" href="/feed"><h5>Activity Feed</h5></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header" href="/browse"><h5>Search Recipes</h5></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header" href="/create"><h5>Create a Recipe</h5></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header" href="/about"><h5>About Us</h5></a>
                        </li>
                    </ul>
                    <th:block sec:authorize="!isAuthenticated()">
                        <div class="row align-items-center d-flex flex-row">
                            <a class="btn btn-danger align-self-center" href="/login"
                               style="height: 45px; width: 100px;">Log In</a>
                        </div>
                        <div class="d-flex justify-content-center mb-4">
                            <p>Don't have an account? <a href="/register" style="color: var(--red);">Register Here</a>
                            </p>
                        </div>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <div class="row align-items-center d-flex flex-row">
                            <form th:action="@{/logout}" th:method="post">
                                <button class="btn btn-danger align-self-center" style="height: 45px; width: 100px;">
                                    Log Out
                                </button>
                            </form>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </nav>
</nav>

<!-- RECIPE CARD -->
<!-- TODO: Gradient overlay for recipe image -->
<div class="recipe-card col-12 col-md-6 col-lg-3"
     th:fragment="recipe-card (id, saved, image, rating, title, username, userimg, firstname, lastname, date, reviews, saves)">
    <div class="card m-2 p-0">
        <th:block th:if="${username == 'Spoonacular'}">
            <a class="recipe-link" th:href="'/recipe/sp/' + ${id}" href="#"></a>
        </th:block>
        <th:block th:if="${username != 'Spoonacular'}">
            <a class="recipe-link" th:href="'/recipe/' + ${id}" href="#"></a>
        </th:block>
        <img src="/images/food-placeholder.jpeg" th:src="${image}" alt="placeholder image" class="w-100">
        <!--     TODO: Fix bookmark link   -->
        <th:block sec:authorize="isAuthenticated()">
            <th:block th:if="${username == 'Spoonacular'}">
                <i th:classappend="${saved}" class="fa-bookmark save-recipe saveRecipeSp" th:data-id="${id}"></i>
            </th:block>
            <th:block th:if="${username != 'Spoonacular'}">
                <i th:classappend="${saved}" class="fa-bookmark save-recipe" th:data-id="${id}"></i>
            </th:block>
        </th:block>
        <div class="recipe-card-user align-items-center">
            <th:block th:if="${username != 'Spoonacular'}">
                <a th:href="'/profile/' + ${username}" href="#">
                    <img th:src="${userimg}" src="/images/pizzaman.jpg" alt="user profile image" class="mb-1 me-1">
                    <span th:text="${firstname} + ' ' + ${lastname}">User Name</span>
                </a>
            </th:block>
            <th:block th:if="${username == 'Spoonacular'}">
                <div class="spoonacular-user">
                    <img th:src="${userimg}" src="/images/pizzaman.jpg" alt="user profile image" class="mb-1 me-1">
                    <span th:text="${firstname}">User Name</span>
                </div>
            </th:block>
        </div>
        <div class="card-body d-flex flex-column justify-content-between">
            <div>
                <div class="star-rating" th:data="${rating}">
                    <i th:style="${rating > 0}? 'color: var(--lightred);'" class="fa-solid fa-star"></i>
                    <i th:style="${rating > 1}? 'color: var(--lightred);'" class="fa-solid fa-star"></i>
                    <i th:style="${rating > 2}? 'color: var(--lightred);'" class="fa-solid fa-star"></i>
                    <i th:style="${rating > 3}? 'color: var(--lightred);'" class="fa-solid fa-star"></i>
                    <i th:style="${rating > 4}? 'color: var(--lightred);'" class="fa-solid fa-star"></i>
                </div>
                <h5 class="card-title" th:text="${title}">Recipe Title</h5>
            </div>
            <div class="card-foot d-flex justify-content-between">
                <div class="d-flex justify-content-start align-items-center">
                    <i class="fa-solid fa-calendar-days me-1"></i> <span th:text="${date}">#</span>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                    <i class="fa-solid fa-comment ms-1 me-1"></i> <span th:text="${reviews}">#</span>
                    <i class="fa-solid fa-bookmark ms-3 me-1"></i> <span th:text="${saves}">#</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- REVIEW CARD -->
<div th:fragment="review-card (id, rating, title, description, date, username, userimg, name)">
    <div class="review-card card w-100 mb-3">
        <div class="review-details card-header d-flex p-3">
            <div class="star-rating col-2 d-flex align-items-center me-auto" th:data="${rating}">
                <i th:style="${rating > 0}? 'color: var(--lightred);'" class="fa-solid fa-star"></i>
                <i th:style="${rating > 1}? 'color: var(--lightred);'" class="fa-solid fa-star"></i>
                <i th:style="${rating > 2}? 'color: var(--lightred);'" class="fa-solid fa-star"></i>
                <i th:style="${rating > 3}? 'color: var(--lightred);'" class="fa-solid fa-star"></i>
                <i th:style="${rating > 4}? 'color: var(--lightred);'" class="fa-solid fa-star"></i>
            </div>
            <div class="review-info col d-flex justify-content-end align-items-center">
                <a th:href="'/profile/' + ${username}" href="#" class="d-flex align-items-center">
                    <img th:src="${userimg}" src="/images/pizzaman.jpg" class="me-2" alt="user profile image">
                    <span th:text="${name}">Review User Name</span>
                </a>
                <div class="d-flex align-items-center ms-2">
                    <i class="fa-solid fa-calendar-days me-1"></i>
                    <span th:text="${date}">Jan 31, 2023</span>
                </div>
                <th:block sec:authorize="isAuthenticated()" th:if="${#authentication.principal.username == username}">
                    <a th:href="@{'/review/delete/' + ${id}}">
                        <i class="fa-regular fa-trash-can ms-2 me-2"></i>
                    </a>
                </th:block>
            </div>
        </div>
        <div class="card-body p-4 pt-3">
            <div class="review-title row align-items-start">
                <h2 class="card-title" th:text="${title}">Review Title</h2>
            </div>
            <div class="review-content row">
                <p class="card-text" th:text="${description}">
                    Review description.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- ACTIVITY CARD -->
<div class="activity-card col-12"
     th:fragment="activity-card (link, image, rating, title, text, username, userimg, action, date)">

    <div class="card mb-3">
        <a class="recipe-link" th:href="${link}" href="#"></a>
        <div class="row g-0">
            <div class="col-3">
                <img src="/images/food-placeholder.jpeg" th:src="${image}" alt="placeholder image"
                     class="w-100 cover-img rounded-start">
            </div>
            <div class="col-9">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="star-rating" th:data="${rating}">
                        <i th:style="${rating > 0}? 'color: var(--lightred);'" class="fa-solid fa-star"></i>
                        <i th:style="${rating > 1}? 'color: var(--lightred);'" class="fa-solid fa-star"></i>
                        <i th:style="${rating > 2}? 'color: var(--lightred);'" class="fa-solid fa-star"></i>
                        <i th:style="${rating > 3}? 'color: var(--lightred);'" class="fa-solid fa-star"></i>
                        <i th:style="${rating > 4}? 'color: var(--lightred);'" class="fa-solid fa-star"></i>
                    </div>
                    <h5 class="card-title mt-2" th:text="${title}">Recipe Title</h5>
                    <div class="activity-description">
                        <!-- TODO: Toggle Read More / Show Less button -->
                        <p th:text="${text}">
                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Cras ultricies
                            ligula sed magna dictum porta. Praesent sapien massa, convallis a pellentesque nec, egestas
                            non nisi. Donec rutrum congue leo eget malesuada. Vestibulum ante ipsum primis in faucibus
                            orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam
                            vel, ullamcorper sit amet ligula. Sed porttitor lectus nibh. Curabitur non nulla sit amet
                            nisl tempus convallis quis ac lectus.
                        </p>
                        <p class="read-more"></p>
                    </div>
                    <div class="card-foot d-flex justify-content-between align-items-center">
                        <div class="activity-head d-flex align-items-center">
                            <img th:src="${userimg}" src="/images/pizzaman.jpg" alt="user profile image" class="me-2">
                            <span th:text="${action}"></span>
                        </div>
                        <div class="d-flex flex-row justify-content-end align-items-center">
                            <i class="fa-solid fa-calendar-days me-1"></i> <span th:text="${date}">#</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- USER SEARCH CARD-->
<div th:fragment="user-search-card">
    <div class="card flex-row" style="width: 22em; height: 100px;">
        <img class="card-img-left" src="/images/flank-steak.webp"/>
        <div class="card-body d-flex row">
        <span>
        <h3 class="card-title h5 h4-sm search-user-firstname">First name, Last Name</h3>
        </span>
            <p class="card-text">@username</p>
        </div>
    </div>
</div>

<!-- SCRIPT FRAGMENT -->
<!-- TODO: Fix script file path error -->
<div th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!--    <script src="../static/js/script.js"></script>-->
    <script>

        $('.saveRecipe').click(function (e) {
            console.log("save");
            e.preventDefault();
            if ($(this).hasClass("saveRecipeSp")) {
                fetch(`/chapter/save/sp/` + $(this).data("id"));
                $(this).removeClass('saveRecipe').addClass('unsaveRecipe').addClass('fa-solid').removeClass('fa-regular');
            } else {
                fetch(`/chapter/save/` + $(this).data("id"));
                $(this).removeClass('saveRecipe').addClass('unsaveRecipe').addClass('fa-solid').removeClass('fa-regular');
            }
        })

        $('.unsaveRecipe').click(function (e) {
            console.log("unsave");
            e.preventDefault();
            if ($(this).hasClass("saveRecipeSp")) {
                fetch(`/chapter/unsave/sp/` + $(this).data("id"));
                $(this).addClass('saveRecipe').removeClass('unsaveRecipe').removeClass('fa-solid').addClass('fa-regular');
            } else {
                fetch(`/chapter/unsave/` + $(this).data("id"));
                $(this).addClass('saveRecipe').removeClass('unsaveRecipe').removeClass('fa-solid').addClass('fa-regular');
            }
        })

    </script>
</div>

</body>
</html>