<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- HEAD FRAGMENT -->
<head th:fragment="head">
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e8ac724fbe.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>

<!-- NAVBAR FRAGMENT -->
<nav th:fragment="navbar">
    <nav class="navbar fixed-top">
        <div class="container-fluid">
            <div class="d-flex">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="input-group rounded ms-3">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon"><i class="fas fa-search"></i></span>
                </div>
            </div>
            <a class="navbar-brand title" href="/home">cook<span style="color: var(--red);">book</span></a>
            <div class="d-flex align-items-center" id="nav-links">
                <a class="nav-link" aria-current="page" href="/activity-feed"><i class="fa-solid fa-utensils"></i></a>
                <a class="nav-link" href="/discover"><i class="fa-solid fa-book-open"></i></a>
                <a class="btn btn-danger" href="/login" style="height: 45px; width: 100px;">Log In</a>
            </div>
            <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h1 class="title" href="/home">cook<span style="color: var(--red);">book</span></h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" style="margin: 0"></button>
                </div>
                <div class="offcanvas-body d-flex flex-column align-items-center pt-0">
                    <a
                            class="btn text-white btn-floating m-1 cb-brand"
                            href="/home"
                            role="button"
                    ><h1 class="title" href="/home" style="font-size: 64px;">cb</h1></a>
                    <ul class="navbar-nav flex-grow-1 pe-3 pt-4">
                        <li class="nav-item">
                            <a class="nav-link header" href="#"><h5>Browse Recipes</h5></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header" href="#"><h5>Activity Feed</h5></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header" href="#"><h5>Create a Recipe</h5></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header" href="#"><h5>Create a Chapter</h5></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header" href="#"><h5>About Us</h5></a>
                        </li>
                    </ul>
                    <form class="d-flex mt-3 justify-content-end" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-danger" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</nav>

<!-- SCRIPT FRAGMENT -->
<div th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
    <script src="../static/js/script.js"></script>
</div>

</body>
</html>