<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials :: head"></head>
<title th:text="${user.getFirstName} + '\'s Profile'"></title>
<link rel="icon" href="../static/images/stir-fry.png" th:href="@{../images/stir-fry.png}">
<body style="background-color: #f2f2f2;">
<nav th:replace="partials :: navbar"></nav>

<section style="background-color: #f2f2f2;" class="vh-100">
    <div class="h-100 ps-5 pe-5 pt-4 pb-4">
        <!-- Profile Header Section -->
        <div class="row vh-25">
            <div class="col-md-5 col-lg-4">
                <img th:src="${user.getProfilePicture()}" src="../static/images/pizzaman.jpg" id="user-img"
                     class="img-fluid" alt="Person tossing pizza dough"/>
            </div>

            <div id="user-details" class="col-md-7 col-lg-8 p-3">
                <div class="d-inline-flex w-100">
                    <div class="mb-0">
                        <h1 id="fullname" class="header" th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">
                            User Name</h1>
                    </div>
                    <!-- Follow / Unfollow / Edit Buttons -->
                    <th:block sec:authorize="isAuthenticated()">
                        <div th:if="${isNotFollowing}">
                            <a th:href="@{'/follow/' + ${user.getId()}}">
                                <img src="../static/images/follow.png" th:src="@{../images/follow.png}" id="add-friend"
                                     class="ms-3" alt="Add friend button"/>
                            </a>
                        </div>

                        <div th:if="${isFollowing}">
                            <a th:href="@{'/unfollow/' + ${user.getId()}}">
                                <img src="../static/images/unfollow.png" th:src="@{../images/unfollow.png}"
                                     id="add-friend" class="ms-3" alt="Add friend button"/>
                            </a>
                        </div>

                        <div th:if="${showEditProfile}" class="d-flex justify-content-start">
                            <!-- TODO: Search User Button -->
                            <button id="edit-profile-button" class="btn btn-danger ms-3">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            <button id="search-users-btn" class="btn btn-danger ms-2" data-bs-toggle="modal"
                                    data-bs-target="#findUserModal">
                                <i class="fa-solid fa-user-group"></i>
                            </button>
                        </div>
                    </th:block>
                </div>
                <h2 id="username" class="header" th:text="'@' + ${user.getUsername()}">@pizzaguy</h2>
                <p th:text="${user.getUserBio()}" id="user-bio" class="pt-2 pb-2">
                    User bio
                </p>
                <ul id="user-stats" class="nav justify-content-between">
                    <li>
                        <div id="followers-btn" data-bs-toggle="modal"
                                data-bs-target="#followersListModal">
                            <span id="num-followers" th:text="${user.getFollowing().size()}">100</span> Followers
                        </div>
                    </li>
                    <li>
                        <div id="following-btn" data-bs-toggle="modal"
                                data-bs-target="#followingListModal">
                            <span id="num-following" th:text="${user.getUserFollows().size()}">100</span> Following
                        </div>
                    </li>
                    <li>
                        <div>
                            <span id="num-recipes" th:text="${user.getCustom_recipes().size()}">34</span> Recipes
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Profile Tabs -->
        <div id="profile-tabs" class="row mt-4 mb-3" role="tablist">
            <div class="col-4 pe-1">
                <button type="button" id="activity-btn" class="btn btn-lg btn-secondary w-100" role="tab"
                        data-bs-toggle="pill" data-bs-target="#user-activity" aria-controls="user-activity"
                        aria-selected="false">Activity
                </button>
            </div>
            <div class="col-4">
                <button type="button" id="recipes-btn" class="btn btn-lg btn-secondary w-100 active" role="tab"
                        data-bs-toggle="pill" data-bs-target="#user-recipes" aria-controls="user-recipes"
                        aria-selected="true">Recipes
                </button>
            </div>
            <div class="col-4 ps-1">
                <button type="button" id="chapters-btn" class="btn btn-lg btn-secondary w-100" role="tab"
                        data-bs-toggle="pill" data-bs-target="#user-chapters" aria-controls="user-chapters"
                        aria-selected="false">Saved
                </button>
            </div>
        </div>
        <!-- Profile Body Section -->
        <div class="row tab-content">
            <div id="user-activity" class="tab-pane fade" role="tabpanel" aria-labelledby="activity-btn" tabindex="0">
                <h1 class="header">Recent Activity</h1>
                <hr>
                <th:block th:if="${user.getRecentActivities().size()} == 0">
                    <h4 class="text-center mb-3">No recent activity.</h4>
                </th:block>
                <!-- Activity Cards -->
                <div id="activity-content" class="d-flex flex-wrap flex-column-reverse justify-content-end">
                    <th:block th:each="activity : ${user.getRecentActivities()}">
                        <th:block th:switch="${activity.getActivity_type()}">
                            <!-- Recipe Activity -->
                            <th:block th:case="1">
                                <div th:replace="partials :: activity-card(
                                    link = '/recipe/' + ${activity.getRecipe().getId()},
                                    image = ${activity.getRecipe().getImage()},
                                    rating = ${recipeDao.getRatingAverageByRecipe(activity.getRecipe())},
                                    title = ${activity.getRecipe().getTitle()},
                                    text = ${activity.getRecipe().getCustom_recipe().getSummary() == null} ?
                                        '' : ${activity.getRecipe().getCustom_recipe().getSummary()},
                                    username = ${user.getUsername()},
                                    userimg = ${user.getProfilePicture()},
                                    action = ${user.firstName} + ' ' + ${user.lastName} + ' created a new recipe.',
                                    date = ${#dates.format(activity.getCreatedAt(), 'MMM dd, yyyy')})">
                                </div>
                            </th:block>
                            <!-- Save Activity -->
                            <th:block th:case="2">
                                <!-- TODO: Default Spoonacular description -->
                                <div th:replace="partials :: activity-card(
                                    link = ${activity.getRecipe().getSpoonacularId() == 0} ?
                                        '/recipe/' + ${activity.getRecipe().getId()} :
                                        '/recipe/sp/' + ${activity.getRecipe().getSpoonacularId()},
                                    image = ${activity.getRecipe().getImage()},
                                    rating = ${recipeDao.getRatingAverageByRecipe(activity.getRecipe())},
                                    title = ${activity.getRecipe().getTitle()},
                                    text = ${activity.getRecipe().getCustom_recipe().getSummary() == null} ?
                                        '' : ${activity.getRecipe().getCustom_recipe().getSummary()},
                                    username = ${user.getUsername()},
                                    userimg = ${user.getProfilePicture()},
                                    action = ${user.firstName} + ' ' + ${user.lastName} + ' saved a recipe.',
                                    date = ${#dates.format(activity.getCreatedAt(), 'MMM dd, yyyy')})">
                                </div>
                            </th:block>
                            <!-- Follow Activity -->
                            <th:block th:case="3">
                                <!-- TODO: Remove rating -->
                                <div th:replace="partials :: activity-card(
                                    link = '/profile/' + ${activity.getTarget_user().getUsername()},
                                    image = ${activity.getTarget_user().getProfilePicture()},
                                    rating = 6,
                                    title = ${activity.getTarget_user().getFirstName()} + ' ' + ${activity.getTarget_user().getLastName()},
                                    text = ${activity.getTarget_user().getUserBio() == null} ?
                                        '' : ${activity.getTarget_user().getUserBio()},
                                    username = ${user.getUsername()},
                                    userimg = ${user.getProfilePicture()},
                                    action = ${user.firstName} + ' ' + ${user.lastName} + ' followed a user.',
                                    date = ${#dates.format(activity.getCreatedAt(), 'MMM dd, yyyy')})">
                                </div>
                            </th:block>
                            <!-- Review Activity -->
                            <th:block th:case="4">
                                <div th:replace="partials :: activity-card(
                                    link = ${activity.getReview().getRecipe_id().getSpoonacularId() == 0} ?
                                        '/recipe/' + ${activity.getReview().getRecipe_id().getId()} :
                                        '/recipe/sp/' + ${activity.getReview().getRecipe_id().getSpoonacularId()},
                                    image = ${activity.getReview().getRecipe_id().getImage()},
                                    rating = ${activity.getReview().getRating()},
                                    title = ${activity.getReview().getTitle()},
                                    text = ${activity.getReview().getComment() == null} ?
                                        '' : ${activity.getReview().getComment()},
                                    username = ${user.getUsername()},
                                    userimg = ${user.getProfilePicture()},
                                    action = ${user.firstName} + ' ' + ${user.lastName} + ' reviewed a recipe.',
                                    date = ${#dates.format(activity.getCreatedAt(), 'MMM dd, yyyy')})">
                                </div>
                            </th:block>
                        </th:block>
                    </th:block>
                </div>
            </div>

            <div id="user-recipes" class="tab-pane fade show active" role="tabpanel" aria-labelledby="recipes-btn"
                 tabindex="0">
                <h1 class="header">User Recipes</h1>
                <hr>
                <th:block th:if="${recipes.size()} == 0">
                    <h4 class="text-center mb-3">No recipes created just yet!</h4>
                </th:block>
                <!-- User Recipe Cards -->
                <div id="recipe-content" class="d-flex flex-wrap flex-row-reverse justify-content-end">

                    <th:block th:each="recipe : ${recipes}">
                        <div th:replace="partials :: recipe-card(
                            id = ${recipe.getRecipe().getId()},
                            saved = ${userDao.checkIfSaved(loggedInUser, recipe)? 'unsaveRecipe fa-solid' : 'saveRecipe fa-regular'},
                            image = ${recipe.getRecipe().getImage()},
                            rating = ${recipeDao.getRatingAverageByRecipe(recipe.getRecipe())},
                            title = ${recipe.getRecipe().getTitle()},
                            username = ${user.getUsername()},
                            userimg = ${user.getProfilePicture()},
                            firstname = ${user.getFirstName()},
                            lastname = ${user.getLastName()},
                            date = ${#dates.format(recipe.getRecipe().getCreatedAt(), 'MMM dd, yyyy')},
                            reviews = ${recipe.getRecipe().getReviews().size},
                            saves = ${recipeDao.getNumberOfSavesByRecipeId(recipe.getRecipe().getId())})">
                        </div>
                    </th:block>
                </div>
            </div>

            <div id="user-chapters" class="tab-pane fade" role="tabpanel" aria-labelledby="chapters-btn" tabindex="0">
                <h1 class="header">Saved Recipes</h1>
                <hr>
                <th:block th:if="${savedRecipes.size()} == 0">
                        <h4 class="text-center mb-3">No recipes saved just yet!</h4>
                </th:block>
                <!-- Saved Recipe Cards -->
                <div id="saved-content" class="d-flex flex-wrap flex-row-reverse justify-content-end">
                    <th:block th:each="recipe : ${savedRecipes}">
                        <div th:replace="partials :: recipe-card(
                            id = ${recipe.getId()},
                            image = ${recipe.getImage()},
                            saved = ${userDao.checkIfSaved(loggedInUser, recipe)? 'unsaveRecipe fa-solid' : 'saveRecipe fa-regular'},
                            rating = ${recipeDao.getRatingAverageByRecipe(recipe)},
                            title = ${recipe.getTitle()},
                            username = ${recipe.getCustom_recipe().getCreator_id().getUsername()},
                            userimg = ${recipe.getCustom_recipe().getCreator_id().getProfilePicture()},
                            firstname = ${recipe.getCustom_recipe().getCreator_id().getFirstName()},
                            lastname = ${recipe.getCustom_recipe().getCreator_id().getLastName()},
                            date = ${#dates.format(recipe.getCreatedAt(), 'MMM dd, yyyy')},
                            reviews = ${recipe.getReviews().size},
                            saves = ${recipe.getSpoonacularId() == 0? recipeDao.getNumberOfSavesByRecipeId(recipe.getId()) : recipeDao.getNumberOfSavesBySpoonacularId(recipe.getSpoonacularId())})">
                        </div>
                        <!--saves = ${recipeDao.getNumberOfSavesByRecipeTitle(recipe.getTitle())})">-->

                    </th:block>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Edit Profile Modal -->
<div id="edit-profile-modal" class="modal">
    <div class="modal-content" style="z-index: 2">
        <span class="close">&times;</span>
        <h2 class="editYourProfile">Edit your profile!</h2>
        <form id="edit-profile-form" th:action="'/profile/edit/' + ${user.getUsername()}" th:method="post"
              class="mx-1 mx-md-4">
            <div class="modal-container mt-3">
                <div class="row mb-4">
                    <div class="file-upload-placeholder col-md-4 col-sm-12">
                        <div id="img-upload">
                            <img th:src="${user.getProfilePicture()}"
                                 class="img-fluid file-upload-image" alt="Photo upload image" id="userImage"/>
                        </div>
                        <input type="hidden" th:value="${user.getProfilePicture()}" id="fileStackResponse"
                               th:name="imageURL">
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <label class="firstName" for="first-name">First Name:</label>
                            <input type="text" th:value="${user.getFirstName()}" id="first-name" class="form-control"
                                   th:name="firstName"
                                   placeholder="First name" aria-label="First name">
                        </div>
                        <div class="col-md-12">
                            <label class="lastName" for="last-name">Last Name:</label>
                            <input type="text" th:value="${user.getLastName()}" id="last-name" class="form-control"
                                   th:name="lastName"
                                   placeholder="Last name" aria-label="Last name">
                        </div>
                        <div class="col-md-12">
                            <label class="bio" for="bio">Bio:</label>
                            <textarea id="bio" class="form-control" th:name="userBio" name="bio"
                                      placeholder="Tell us about yourself!" aria-label="Bio"
                                      th:text="${user.getUserBio()}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mx-4 mb-2 mb-lg-4">
                <button id="saveChangesBtn" type="submit" class="btn btn-danger btn-lg">Save your changes</button>
            </div>
        </form>
    </div>
</div>

<!-- Followers Modal -->
<!-- TODO: Formatting -->
<div id="followersListModal" class="modal">
    <div class="modal-dialog" style="max-width: 550px; height: 100%; z-index: 3">
        <div class="modal-content">
            <span class="close" data-bs-dismiss="modal">&times;</span>
            <h2 class="followers-modal-title">Followers</h2>
            <div class="modal-body">
                <span th:if="${following.size()} == 0">
                    <h4 class="text-center mb-3">Looks like you don't have any followers just yet.</h4>
                </span>
                <th:block th:each="follower : ${following}">
                    <a th:href="@{'/profile/' + ${follower.getUser().getUsername()}}" class="user-card-anchor">
                        <div class="card flex-row user-card" style="width: 100%; height: 100px;">
                            <img class="card-img-left" th:src="${follower.getUser().getProfilePicture()}"
                                 src="/images/flank-steak.webp"/>
                            <div class="card-body d-flex row">
                                <span>
                                <h3 class="card-title h5 h4-sm search-user-firstname"
                                    th:text="${follower.getUser().getFirstName()} + ' ' + ${follower.getUser().getLastName()}">First name, Last Name</h3>
                                </span>
                                <p class="card-text" th:text="'@' + ${follower.getUser().getUsername()}">@username</p>
                            </div>
                        </div>
                    </a>
                </th:block>
            </div>
        </div>
    </div>
</div>

<!-- Following Modal -->
<!-- TODO: Formatting -->
<div id="followingListModal" class="modal">
    <div class="modal-dialog" style="max-width: 550px; max-height: 85%; z-index: 3">
        <div class="modal-content">
            <span class="close" data-bs-dismiss="modal">&times;</span>
            <h2 class="following-modal-title">Following</h2>
            <div class="modal-body">
                <!-- List of following goes here -->
                <span th:if="${followers.size()} == 0">
                    <h4 class="text-center mb-3">Looks like you're not following anyone just yet.</h4>
                </span>
                <th:block th:each="follower : ${followers}">

                    <a th:href="@{'/profile/' + ${follower.getFollower().getUsername()}}" class="user-card-anchor">
                        <div class="card flex-row user-card" style="width: 100%; height: 100px;">
                            <img class="card-img-left" th:src="${follower.getFollower().getProfilePicture()}"
                                 src="/images/flank-steak.webp"/>
                            <div class="card-body d-flex row">
        <span>
        <h3 class="card-title h5 h4-sm search-user-firstname"
            th:text="${follower.getFollower().getFirstName()} + ' ' + ${follower.getFollower().getLastName()}">First name, Last Name</h3>
        </span>
                                <p class="card-text" th:text="'@' + ${follower.getFollower().getUsername()}">
                                    @username</p>
                            </div>
                        </div>
                    </a>
                </th:block>
            </div>
            <div class="d-flex justify-content-center mb-4"></div>
        </div>
    </div>
</div>

<!-- FIND USERS MODAL -->
<div id="findUserModal" class="modal">
    <div class="modal-dialog" style="max-width: 550px; max-height: 85%; z-index: 3">
        <div class="modal-content">
            <span class="close" data-bs-dismiss="modal">&times;</span>
            <h2 class="following-modal-title">Find Friends</h2>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search by Name or Username"
                           id="searchUserInput">
                    <button class="btn btn-outline-secondary" type="button" id="searchUserButton">Search</button>
                </div>
                <!-- List of following goes here -->
                <div id="foundUsersContainer">

                </div>
            </div>
            <div class="d-flex justify-content-center mb-4"></div>
        </div>
    </div>
</div>

<div th:replace="partials :: script"></div>
<!-- File Stack -->
<!-- TODO: Can Filestack be moved to the Script partial? -->
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<!-- TODO: Consolidate JS -->
<script th:inline="javascript">

    const client = filestack.init([[${filestack}]]);
    const options = {
        onFileUploadFinished(file) {
            console.log(file);
            $('#fileStackResponse').val(file.url)
            $('#userImage').attr('src', file.url).removeData('th:src')
        }
    }

    $(`#img-upload`).click(function () {
        client.picker(options).open();
    });

    $('#searchUserButton').click(function (e) {
        e.preventDefault();
        $(`#foundUsersContainer`).html('');
        fetch(`/users/${$('#searchUserInput').val()}.json`)
            .then(response => response.json()).then((data) => {
            console.log(data);
            data.forEach(function (user) {
                $(`#foundUsersContainer`).append(`
                <a href="/profile/${user.username}" class="user-anchor">
                    <div class="card flex-row user-search-card" style="width: 100%; height: 100px;">
                        <img class="card-img-left" src="${user.profilePicture}"/>
                        <div class="card-body d-flex row">
                            <span>
                                <h3 class="card-title h5 h4-sm search-user-firstname">${user.firstName} ${user.lastName}</h3>
                            </span>
                            <p class="card-text search-user-username"">
                                        @${user.username}</p>
                        </div>
                    </div>
                </a>
                `);
            });
        })
    })

    const editProfileButton = document.getElementById('edit-profile-button');
    const modal = document.getElementById('edit-profile-modal');
    const modal2 = document.getElementById('followersListModal');
    const modal3 = document.getElementById('followingListModal');
    const closeButton = document.getElementsByClassName('close')[0];
    const closeButton2 = document.getElementsByClassName('close')[1];
    const closeButton3 = document.getElementsByClassName('close')[2];
    const editProfileForm = document.getElementById('edit-profile-form');
    const saveChanges = document.getElementById("saveChangesBtn");

    editProfileButton.addEventListener('click', () => {
        modal.style.display = 'block';
    });

    closeButton.addEventListener('click', () => {
        modal.style.display = 'none';
    });
    closeButton2.addEventListener('click', () => {
        modal2.style.display = 'none';
    });
    closeButton3.addEventListener('click', () => {
        modal3.style.display = 'none';
    });


    window.addEventListener('click', (event) => {
        if (event.target == modal) {
            modal.style.display = 'none';
        }
    });
    saveChanges.addEventListener('click', (event) => {
        modal.style.display = 'none';
    });

</script>

<!-- Name Validation -->
<script>
    function validateNameLength(name) {
        const nameLength = name.length;
        return nameLength >= 1 && nameLength <= 255;
    }
</script>
<!-- Bio Validation -->
<script>
    function validateBioLength(bio) {
        const nameLength = name.length;
        return nameLength >= 0 && nameLength <= 255;
    }
</script>
<!--  -->
</body>
</html>
