<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials :: head">
    <title>User Profile</title>
</head>
<body style="background-color: #f2f2f2;">
<nav th:replace="partials :: navbar"></nav>

<section class="" style="background-color: #f2f2f2;">
    <div class="h-100 ps-5 pe-5 pt-4 pb-4">
        <div class="row">
            <div class="col-md-5 col-lg-4">
                <img src="../static/images/pizzaman.jpg" th:src="@{images/pizzaman.jpg}" class="img-fluid profile-img"
                     alt="Person tossing pizza dough"/>
            </div>

            <div id="user-details" class="col-md-7 col-lg-8 p-3">
                <h1 id="fullname" class="header">Gustav Pizzamani</h1>
                <h2 id="username" class="header">@pizzaguy</h2>
                <p id="user-bio" class="pt-2 pb-2">Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
            </div>
        </div>


    </div>
</section>



<div th:replace="partials :: script"></div>
</body>
</html>