<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="partials :: head"></head>
<title th:text="${recipe.getTitle()}">Create Recipe</title>
<link rel="icon" href="../static/images/stir-fry.png" th:href="@{../images/stir-fry.png}">
<body style="background-color: #f2f2f2;">
<nav th:insert="partials :: navbar"></nav>

<section style="background-color: #f2f2f2;">
    <!-- Recipe Banner w/ User & Bookmark -->
    <div id="recipe-banner">
        <div id="recipe-page-cover">
            <img th:src="${recipe.image}" src="/images/flank-steak.webp" alt="recipe cover image" id="recipe-cover-image">
        </div>
        <div id="recipe-cover-buttons">
            <div id="recipe-page-save" class="d-flex justify-content-end">
                <th:block sec:authorize="isAuthenticated()">
                    <!-- Check for user ownership -->
                    <th:block th:if="${recipe.getCustom_recipe().getCreator_id().getUsername()} == ${user.getUsername()}"> <!-- Populate the edit & delete buttons -->
                        <a th:href="@{'/recipe/' + ${recipe.getId()} + '/edit'}">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                    </th:block>
                    <th:block th:if="${recipe.getCustom_recipe().getCreator_id().getUsername()} != ${user.getUsername()}"> <!-- Check for Cookbook vs Spoonacular id -->
                        <th:block th:if="${recipe.getCustom_recipe().getCreator_id().getUsername() == 'Spoonacular'}">
                            <!-- Link via Spoonacular -->
                            <a th:href="@{'/chapter/save/sp/' + ${recipe.getSpoonacularId()}}">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        </th:block>
                        <th:block th:if="${recipe.getCustom_recipe().getCreator_id().getUsername() != 'Spoonacular'}">
                            <!-- Link via Cookbook -->
                            <a th:href="@{'/chapter/save/' + ${recipe.getId()}}">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        </th:block>
                    </th:block>
                </th:block>
                <th:block sec:authorize="!isAuthenticated()">
                    <i style="height: 50px; color: transparent;"></i>
                </th:block>
            </div>
            <div id="recipe-page-user" class="d-flex justify-content-start align-items-end">
                <a th:href="'/profile/' + ${recipe.getCustom_recipe().getCreator_id().getUsername()}" href="#">
                    <img th:src="${recipe.getCustom_recipe().getCreator_id().getProfilePicture()}" src="/images/pizzaman.jpg" alt="user profile image">
                    <span class="ms-2" th:text="${recipe.getCustom_recipe().getCreator_id().getFirstName()} + ' ' + ${recipe.getCustom_recipe().getCreator_id().getLastName()}">User Name</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Recipe Details -->
    <div id="recipe-body" class="pt-4 ps-5 pe-5">
        <div id="recipe-details">
            <div class="row justify-content-between">
                <div id="recipe-rating" class="col">
                    <h5>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </h5>
                </div>
                <div id="recipe-stats" class="col flex-grow-1 d-flex">
                    <div class="col d-flex justify-content-end align-content-center">
                        <a href="#"><i class="fa-solid fa-comment"></i> <span th:text="${recipe.getReviews().size()}">#</span></a>
                        <a href="#"><i class="fa-solid fa-bookmark"></i> <span th:text="${recipeDao.getNumberOfSavesByRecipeTitle(recipe.getTitle())}">#</span></a>
                    </div>
                </div>
            </div>
            <h5 th:text="${recipe.title}">Recipe Title</h5>
            <!-- Collapsable description -->
            <div id="recipe-description">
                <!-- TODO: Toggle Read More / Show Less button -->
                <p th:text="${recipe.getCustom_recipe().summary}">
                    Recipe Description
                </p>
                <p class="read-more"><a href="#" class="button">Read More</a></p>
            </div>
        </div>
        <!-- Recipe Tabs -->
        <div id="profile-tabs" class="row mt-4 mb-4" role="tablist">
            <div class="col-4 pe-1">
                <button type="button" id="ingredients-btn" class="btn btn-lg btn-secondary w-100 active" role="tab"
                        data-bs-toggle="pill" data-bs-target="#ingredients" aria-controls="ingredients"
                        aria-selected="true">Ingredients
                </button>
            </div>
            <div class="col-4">
                <button type="button" id="recipe-btn" class="btn btn-lg btn-secondary w-100" role="tab"
                        data-bs-toggle="pill" data-bs-target="#recipe" aria-controls="recipe" aria-selected="false">
                    Recipe
                </button>
            </div>
            <div class="col-4 ps-1">
                <button type="button" id="reviews-btn" class="btn btn-lg btn-secondary w-100" role="tab"
                        data-bs-toggle="pill" data-bs-target="#reviews" aria-controls="reviews" aria-selected="false">
                    Reviews
                </button>
            </div>
        </div>
        <!-- Recipe Content -->
        <div class="row tab-content">
            <!-- Recipe Ingredients -->
            <div id="ingredients" class="tab-pane fade show active" role="tabpanel" aria-labelledby="ingredients-btn"
                 tabindex="0">
                <h1 class="header">Ingredients</h1>
                <hr>
                <!-- Content Here -->
                <ul th:each="ingredient : ${recipe.getCustom_recipe().ingredients}">
                    <li>
                        <!-- TODO: Round whole ingredient amounts -->
                        <!-- TODO: Sentence-case -->
                        <!-- TODO: Remove nulls -->
                        <span th:text="${ingredient.amount}"></span> <span th:text="${ingredient.unit}"></span> <span th:text="${ingredient.name}"></span>
                    </li>
                </ul>
            </div>
            <!-- Recipe Instructions -->
            <div id="recipe" class="tab-pane fade" role="tabpanel" aria-labelledby="recipe-btn" tabindex="0">
                <h1 class="header">Instructions</h1>
                <hr>
                <!-- Content Here -->
                <ol>
                    <li th:each="instruction : ${recipe.getCustom_recipe().instructions}">
                        <!-- TODO: Formatting -->
                        <span th:text="${instruction.content}"></span>
                    </li>
                </ol>
            </div>
            <!-- Recipe Reviews -->
            <div id="reviews" class="tab-pane fade" role="tabpanel" aria-labelledby="reviews-btn" tabindex="0">
                <div class="d-inline-flex w-100">
                    <div class="flex-grow-1 mb-0">
                        <h1 class="header d-inline">Reviews</h1>
                    </div>
                    <button id="create-review-btn" type="button" class="btn btn-danger" data-bs-toggle="collapse" data-bs-target="#create-review" aria-expanded="false" aria-controls="create-review"><i class="fa-solid fa-pen-to-square me-1"></i>  Review</button>
                </div>
                <hr>
                <!-- Create Review Form -->
                <!-- TODO: Fix toggle issue -->
                <div class="collapse" id="create-review">
                    <th:block sec:authorize="isAuthenticated()">
                        <form th:action="@{/review}" th:method="post">
                            <div class="review-card card w-100 mb-3">
                                <div class="review-details card-header d-flex p-3">
                                    <input th:name="recipe" th:value="${recipe.getId()}" type="hidden">
                                    <div class="col d-flex align-items-center me-auto">
                                        <div class="rating d-flex justify-content-end">
                                            <input id="star5" th:name="rating" name="star" type="radio" value="5" class="radio-btn hide" />
                                            <label for="star5" ><i class="fa-solid fa-star"></i></label>
                                            <input id="star4" th:name="rating" name="star" type="radio" value="4" class="radio-btn hide" />
                                            <label for="star4" ><i class="fa-solid fa-star"></i></label>
                                            <input id="star3" th:name="rating" name="star" type="radio" value="3" class="radio-btn hide" />
                                            <label for="star3" ><i class="fa-solid fa-star"></i></label>
                                            <input id="star2" th:name="rating" name="star" type="radio" value="2" class="radio-btn hide" />
                                            <label for="star2" ><i class="fa-solid fa-star"></i></label>
                                            <input id="star1" th:name="rating" name="star" type="radio" value="1" class="radio-btn hide" />
                                            <label for="star1" ><i class="fa-solid fa-star"></i></label>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="review-info col d-flex justify-content-end align-items-center">
                                        <input th:name="user" th:value="${user.getId()}" type="hidden">
                                        <a href="#" class="d-flex align-items-center">
                                            <img th:src="${user.getProfilePicture()}" src="/images/pizzaman.jpg" class="me-2" alt="user profile image">
                                            <span th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></span>
                                        </a>
                                        <div class="d-flex align-items-center ms-2">
                                            <i class="fa-solid fa-calendar-days me-1"></i>
                                            <span th:text="${#dates.format(#dates.createNow(), 'MMM dd, yyyy')}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body p-4 pt-3">
                                    <div class="form-floating mb-2">
                                        <input type="text" th:name="title" class="form-control" id="create-review-title" placeholder="Recipe Title">
                                        <label for="create-review-title">Recipe Title</label>
                                    </div>
                                    <div class="form-floating mb-2">
                                        <textarea th:name="description" class="form-control" id="create-review-description" placeholder="Recipe Description" rows="5" style="height: 150px;"></textarea>
                                        <label for="create-review-description">Recipe Description</label>
                                    </div>
                                    <button type="submit" class="btn btn-danger">Submit Review</button>
                                </div>
                            </div>
                        </form>
                    </th:block>
                    <th:block sec:authorize="!isAuthenticated()">
                        <div class="row justify-content-center d-flex flex-row">
                            <h4 class="text-center mb-3">Please log in to leave a review.</h4>
                            <a class="btn btn-danger justify-content-center" href="/login" style="height: 45px; width: 100px;">Log In</a>
                        </div>
                        <div class="d-flex justify-content-center mb-4">
                            <p>Don't have an account? <a href="/register" style="color: var(--red);">Register Here</a></p>
                        </div>
                    </th:block>
                </div>
                <!-- Review Cards -->
                <div id="review-content">
                    <span th:if="${recipe.getReviews().size()} == 0">
                        <h4 class="text-center mb-3">Nothing here just yet. Be the first to write a review!</h4>
                    </span>
                    <div th:each="review : ${recipe.getReviews()}" class="m-0 p-0">
                        <div th:replace="partials :: review-card(
                            id = ${review.getId()},
                            rating = ${review.getRating()},
                            title = ${review.getTitle()},
                            description = ${review.getComment()},
                            username = ${review.getCreator_id().getUsername()},
                            userimg = ${review.getCreator_id().getProfilePicture()},
                            name = ${review.getCreator_id().getFirstName()} + ' ' + ${review.getCreator_id().getLastName()},
                            date = ${#dates.format(review.getCreatedAt(), 'MMM dd, yyyy')})">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="partials :: script"></div>
<!-- Bootstrap CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous">
</script>
<!-- JQuery CDN -->
<script
        src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    let $el, $ps, $up, totalHeight;
    $("#recipe-description .button").click(function () {
        totalHeight = 0;

        $el = $(this);
        $p = $el.parent();
        $up = $p.parent();
        $ps = $up.find("p:not('.read-more')");

        $ps.each(function () {
            totalHeight += $(this).outerHeight();
        });
        $up
            .css({
                "height": $up.height(),
                "max-height": 9999
            })
            .animate({
                "height": totalHeight
            });

        $p.fadeOut();

        return false;
    });
</script>
<!-- Review Title Validation -->
<script>
    function validateRevTitleLength(title) {
        const titleLength = title.length;
        return titleLength >= 1 && titleLength <= 50 ;
    }
</script>
<!-- Review Comment Validation -->
<script>
    function validateRevCommentLength(comment) {
        const commentLength = comment.length;
        return commentLength >= 1 && commentLength <= 300 ;
    }
</script>
</body>
</html>
