<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials :: head"></head>
<title>Create Recipe</title>
<link th:href="@{/css/view-ingredient.css}" rel="stylesheet">

<body style="background-color: #f2f2f2;">
<nav th:replace="partials :: navbar"></nav>

<section style="background-color: #f2f2f2;">

        <!-- Recipe Banner w/ User & Bookmark -->
        <div id="recipe-banner">
            <div id="recipe-page-cover">
                <img src="/images/flank-steak.webp" alt="recipe cover image" id="recipe-cover-image">
            </div>
            <div id="recipe-cover-buttons">
                <div id="recipe-page-save" class="d-flex justify-content-end">
                    <a href="#"><i class="fa-regular fa-bookmark"></i></a>
                </div>
                <div id="recipe-page-user" class="d-flex justify-content-start align-items-end">
                    <a href="#"><img src="/images/pizzaman.jpg" alt="user profile image" class="mb-1"> <span class="ms-2">Andre Salinas</span> </a>
                </div>
            </div>
        </div>

        <!-- Recipe Details -->
        <div id="recipe-details" class="pt-4 ps-5 pe-5">
            <div class="card-body">
                <div class="row">
                    <div class="recipe-rating col-md-8">
                        <h5><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h5>
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="card-comment"><i class="fa-regular fa-message"></i> 124</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="card-bookmark"><i class="fa-solid fa-bookmark"></i> 124</a>
                    </div>
                </div>
                <div class="card-title">
                    <h5 class="card-title">Mighty Cream Cheese Gator Poppers</h5>
                </div>
                <!--Collapsable description-->
                <details>
                    <summary class="d-flex flex-column">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolore doloremque doloribus, eveniet
                        hic ipsa nemo officiis repellendus tempore unde?
                        <span id="expandBtn">Read More?</span>
                    </summary>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda illo ipsum, labore nobis
                        non, nostrum optio porro reiciendis sequi vel vitae voluptas voluptatem. A at blanditiis,
                        consequatur dolore doloremque, eius explicabo ipsum iusto nesciunt non nostrum obcaecati odio
                        officiis quia, rem totam vitae. Facere facilis iusto officiis sit tempora.</p>
                </details>
            </div>
            <div id="profile-tabs" class="row mt-4 mb-3" role="tablist">
                <div class="col-4 pe-1">
                    <button type="button" id="ingredients-btn" class="btn btn-lg btn-secondary w-100 active" role="tab"
                            data-bs-toggle="pill" data-bs-target="#ingredients" aria-controls="ingredients"
                            aria-selected="true">Ingredients
                    </button>
                </div>
                <div class="col-4">
                    <button type="button" id="recipe-btn" class="btn btn-lg btn-secondary w-100" role="tab"
                            data-bs-toggle="pill" data-bs-target="#recipe" aria-controls="recipe" aria-selected="false">
                        Recipe
                    </button>
                </div>
                <div class="col-4 ps-1">
                    <button type="button" id="reviews-btn" class="btn btn-lg btn-secondary w-100" role="tab"
                            data-bs-toggle="pill" data-bs-target="#reviews" aria-controls="reviews" aria-selected="false">
                        Reviews
                    </button>
                </div>
            </div>
            <!-- Recipe Section -->
            <div class="row tab-content">
                <div id="ingredients" class="tab-pane fade show active" role="tabpanel" aria-labelledby="ingredients-btn"
                     tabindex="0">
                    <h1 class="header">Ingredients</h1>
                    <hr>
                    <!-- Content Here -->
                </div>
                <div id="recipe" class="tab-pane fade" role="tabpanel" aria-labelledby="recipe-btn" tabindex="0">
                    <hr>
                    <h3>Step 1:</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, necessitatibus?</p>
                    <h3>Step 2:</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, incidunt.</p>
                    <h3>Step 3:</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, voluptates.</p>
                </div>
                <div id="reviews" class="tab-pane fade" role="tabpanel" aria-labelledby="reviews-btn" tabindex="0">
                    <h1 class="header">Reviews</h1>
                    <hr>
                    <div th:replace="partials :: recipe-card"></div>
                </div>
            </div>


        </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous">
    </script>
    <script type="text/javascript">
        const showMore = document.getElementById("expandBtn")
        showMore.addEventListener("click", () => {
            showMore.style.display = "none";
        });
    </script>

</section>

<div th:replace="partials :: script"></div>

</body>
</html>
