<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials :: head"></head>
<title>Create Recipe</title>

<body style="background-color: #f2f2f2;">
<nav th:insert="partials :: navbar"></nav>

<section style="background-color: #f2f2f2;">
    <!-- Recipe Banner w/ User & Bookmark -->
    <div id="recipe-banner">
        <div id="recipe-page-cover">
            <img th:src="${recipe.image}" src="/images/flank-steak.webp" alt="recipe cover image" id="recipe-cover-image">
        </div>
        <div id="recipe-cover-buttons">
            <div id="recipe-page-save" class="d-flex justify-content-end">
                <a href="#"><i class="fa-regular fa-bookmark"></i></a>
            </div>
            <!-- TODO: Add link to user profile -->
            <div id="recipe-page-user" class="d-flex justify-content-start align-items-end">
                <a href="#">
                    <img th:src="${recipe.getCustom_recipe().getCreator_id().getProfilePicture()}" src="/images/pizzaman.jpg" alt="user profile image">
                    <span class="ms-2 me-1" th:text="${recipe.getCustom_recipe().getCreator_id().getFirstName()}">User First Name</span>
                    <span th:text="${recipe.getCustom_recipe().getCreator_id().getLastName()}">User Last Name</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Recipe Details -->
    <div id="recipe-body" class="pt-4 ps-5 pe-5">
        <div id="recipe-details">
            <div class="row justify-content-between">
                <div id="recipe-rating" class="col">
                    <h5><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h5>
                </div>
                <div id="recipe-stats" class="col flex-grow-1 d-flex">
                    <div class="col d-flex justify-content-end align-content-center">
                        <a href="#"><i class="fa-solid fa-comment"></i> <span th:text="${recipe.getReviews().size()}">#</span></a>
                        <a href="#"><i class="fa-solid fa-bookmark"></i> <span>#</span></a>
                    </div>
                </div>
            </div>
            <h5 th:text="${recipe.title}">Recipe Title</h5>
            <!-- Collapsable description -->
            <div id="recipe-description">
                <!-- TODO: Toggle Read More / Show Less button -->
                <p th:text="${recipe.getCustom_recipe().summary}">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio fugiat, incidunt magni qui quia vitae. Accusamus animi atque commodi consectetur delectus dolor doloremque earum error, est et ex excepturi hic in inventore labore laboriosam laudantium magni minima neque nesciunt nihil officiis perferendis quae rem sequi unde vel voluptas! Commodi cum doloremque explicabo, facere iste iure labore libero, nesciunt optio possimus quae quidem voluptates? Asperiores consectetur eaque incidunt labore numquam pariatur quam soluta voluptates! Adipisci, distinctio.
                </p>
                <p class="read-more"><a href="#" class="button">Read More</a></p>
            </div>
        </div>
        <!-- Recipe Tabs -->
        <div id="profile-tabs" class="row mt-4 mb-4" role="tablist">
            <div class="col-4 pe-1">
                <button type="button" id="ingredients-btn" class="btn btn-lg btn-secondary w-100 active" role="tab"
                        data-bs-toggle="pill" data-bs-target="#ingredients" aria-controls="ingredients"
                        aria-selected="true">Ingredients
                </button>
            </div>
            <div class="col-4">
                <button type="button" id="recipe-btn" class="btn btn-lg btn-secondary w-100" role="tab"
                        data-bs-toggle="pill" data-bs-target="#recipe" aria-controls="recipe" aria-selected="false">
                    Recipe
                </button>
            </div>
            <div class="col-4 ps-1">
                <button type="button" id="reviews-btn" class="btn btn-lg btn-secondary w-100" role="tab"
                        data-bs-toggle="pill" data-bs-target="#reviews" aria-controls="reviews" aria-selected="false">
                    Reviews
                </button>
            </div>
        </div>
        <!-- Recipe Content -->
        <div class="row tab-content">
            <!-- Recipe Ingredients -->
            <div id="ingredients" class="tab-pane fade show active" role="tabpanel" aria-labelledby="ingredients-btn"
                 tabindex="0">
                <h1 class="header">Ingredients</h1>
                <hr>
                <!-- Content Here -->
                <ul th:each="ingredient : ${recipe.getCustom_recipe().ingredients}">
                    <li>
                        <!-- TODO: Round whole ingredient amounts -->
                        <!-- TODO: Sentence-case -->
                        <!-- TODO: Remove nulls -->
                        <span th:text="${ingredient.amount}"></span> <span th:text="${ingredient.unit}"></span> <span th:text="${ingredient.name}"></span>
                    </li>
                </ul>
            </div>
            <!-- Recipe Instructions -->
            <div id="recipe" class="tab-pane fade" role="tabpanel" aria-labelledby="recipe-btn" tabindex="0">
                <h1 class="header">Instructions</h1>
                <hr>
                <!-- Content Here -->
                <ol>
                    <li th:each="instruction : ${recipe.getCustom_recipe().instructions}">
                        <!-- TODO: Formatting -->
                        <span th:text="${instruction.content}"></span>
                    </li>
                </ol>
            </div>
            <!-- Recipe Reviews -->
            <div id="reviews" class="tab-pane fade" role="tabpanel" aria-labelledby="reviews-btn" tabindex="0">
                <h1 class="header">Reviews</h1>
                <hr>
                <!-- Content Here -->
                <div th:replace="partials :: review-card"></div>
            </div>
        </div>
    </div>
</section>

<div th:replace="partials :: script"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous">
</script>
<script
        src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    let $el, $ps, $up, totalHeight;
    $("#recipe-description .button").click(function () {
        totalHeight = 0;

        $el = $(this);
        $p = $el.parent();
        $up = $p.parent();
        $ps = $up.find("p:not('.read-more')");

        $ps.each(function () {
            totalHeight += $(this).outerHeight();
        });
        $up
            .css({
                "height": $up.height(),
                "max-height": 9999
            })
            .animate({
                "height": totalHeight
            });

        $p.fadeOut();

        return false;
    });
</script>

</body>
</html>