<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials :: head">
    <title>Registration</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

<section class="vh-100" style="background-color: #fff;">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 header fw-bold mb-5 mx-1 mx-md-4 mt-4 mt-md-2">Registration</p>
                <form th:action="@{/register}" th:method="post" th:object="${user}" class="mx-1 mx-md-4">
                    <div class="row mb-4">
                        <div class="col">
                            <input type="text" class="form-control" th:field="*{firstName}" placeholder="First name" aria-label="First name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" th:field="*{lastName}" placeholder="Last name" aria-label="Last name">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <label class="visually-hidden" for="username">Username</label>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <i class="fas fa-user fa-lg fa-fw"></i>
                                </div>
                                <input type="text" class="form-control" th:field="*{username}" id="username" placeholder="Username">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <label class="visually-hidden" for="email">Email</label>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <i class="fas fa-envelope fa-lg fa-fw"></i>
                                </div>
                                <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <input type="password" class="form-control" th:field="*{password}" name="password" placeholder="Password" aria-label="Password">
                        </div>
                        <div class="col">
                            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" aria-label="Confirm Password">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mx-4 mb-2 mb-lg-4">
                        <button type="submit" class="btn btn-danger btn-lg">Register</button>
                    </div>
                    <div class="d-flex justify-content-center mb-4">
                        <span class="form-check-label" for="form2Example3">
                            Already have an account? <a href="/login" style="color: var(--red);">Log In</a>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-9 col-lg-5 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="../static/images/cooking.jpg" th:src="@{images/cooking.jpg}" class="img-fluid side-img"
                     alt="Person cooking in the kitchen"/>
            </div>
        </div>
    </div>
</section>

<div th:replace="partials :: script"></div>
</body>
</html>