<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials :: head"></head>
<title>Registration</title>
<body>
<nav th:replace="partials :: navbar"></nav>

<section class="vh-100" style="background-color: #fff;">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 header fw-bold mb-5 mx-1 mx-md-4 mt-4 mt-md-2">Registration</p>
                <form th:action="@{/register}" th:method="post" th:object="${user}" class="mx-1 mx-md-4">
                    <div class="row mb-4">
                        <div class="col">
                            <input type="text" class="form-control" th:field="*{firstName}" placeholder="First name" aria-label="First name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" th:field="*{lastName}" placeholder="Last name" aria-label="Last name">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <!-- Username Validation Use Example:
                            <form action="#" th:action="@{/submit}" th:object="${user}" method="post">
                                <label for="username">Username:</label>
                                <input type="text" id="username" name="username" th:value="${user.username}"
                                       onblur="validateUsername(this.value)">
                                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                                <div id="username-error"></div>
                                <button type="submit">Submit</button>
                            </form>
                            -->

                            <label class="visually-hidden" for="username">Username</label>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <i class="fas fa-user fa-lg fa-fw"></i>
                                </div>
                                <input type="text" class="form-control" th:field="*{username}" id="username" placeholder="Username">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <label class="visually-hidden" for="email">Email</label>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <i class="fas fa-envelope fa-lg fa-fw"></i>
                                </div>
                                <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                        <!-- Password Validation Use Example: Returns a True or False boolean, if false doesn't allow form to submit
                            <form onsubmit="return validatePassword(document.getElementById('password').value)">
                                FORM FIELD
                                <input type="password" id="password" name="password" />
                                SUBMIT BUTTON
                            </form>
                        -->
                            <input type="password" class="form-control" th:field="*{password}" name="password" placeholder="Password" aria-label="Password">
                        </div>
                        <div class="col">
                            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" aria-label="Confirm Password">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mx-4 mb-2 mb-lg-4">
                        <button type="submit" class="btn btn-danger btn-lg">Register</button>
                    </div>
                    <div class="d-flex justify-content-center mb-4">
                        <span class="form-check-label" for="form2Example3">
                            Already have an account? <a href="/login" style="color: var(--red);">Log In</a>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-9 col-lg-5 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="../static/images/cooking.jpg" th:src="@{images/cooking.jpg}" class="img-fluid side-img"
                     alt="Person cooking in the kitchen"/>
            </div>
        </div>
    </div>
</section>

<div th:replace="partials :: script"></div>
<!-- JQuery link -->
<script
        src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous">
</script>
<!-- Password Validation JS -->
<script>
    function validatePassword(password) {
        const passwordLength = password.length;
        let hasLowerCase = false;
        let hasUpperCase = false;
        let hasSpecial = false;

        for (let i = 0; i < passwordLength; i++) {
            const char = password.charAt(i);
            if (char >= 'a' && char <= 'z') {
                hasLowerCase = true;
            } else if (char >= 'A' && char <= 'Z') {
                hasUpperCase = true;
            } else if (!isNaN(parseInt(char))) {

            } else {
                hasSpecial = true;
            }
        }
        return passwordLength >= 8 && passwordLength<= 20 && hasLowerCase && hasUpperCase && hasSpecial;
    }
</script>
<!-- Username Validation JS -->
<script>
    function validateUsername(username) {
            const usernameLength = username.length;
            let requiredChars = /^[a-zA-Z0-9_-]+$/.test(username);
            return usernameLength > 0 && usernameLength <= 25 && requiredChars;
    }
</script>
<!-- Email Format Validation JS -->
<script>
    function validateEmailFormat(email) {
        const emailLength = email.length;
        let hasAtSymbol = false;
        let hasDot = false;

        for (let i = 0; i < emailLength; i++) {
            const char = email.charAt(i);
            if (char == '@') {
                hasAtSymbol = true;
            } else if (char == '.') {
                hasDot = true;
            } else {

            }
        }
        return hasAtSymbol && hasDot && emailLength < 256;
    }
</script>
<!-- First and Last Name Length Validation -->
<script>
    function validateNameLength(name) {
        const nameLength = name.length;
        return nameLength >= 1 && nameLength <= 255 ;
    }
</script>
</body>
</html>
