<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials :: head"></head>
<title>Search Results</title>
<body>
<nav th:replace="partials :: navbar"></nav>
<div id="banner-image">
    <div class="search-bar-container">
        <form action="#" method="get">
            <input type="search" id="searchHTML" name="searchHTML" placeholder="Search Recipes...">
        </form>
    </div>
</div>
<div class="search-container">
    <div id="profile-tabs" class="row mt-4 mb-4" role="tablist">
        <div class="col-6 pe-1">
            <button type="button" id="recipes-btn" class="btn btn-lg btn-secondary w-100 active" role="tab"
                    data-bs-toggle="pill" data-bs-target="#recipes" aria-controls="recipes"
                    aria-selected="true">Recipes
            </button>
        </div>
        <div class="col-6 pe-1">
            <button type="button" id="chapters-btn" class="btn btn-lg btn-secondary w-100" role="tab"
                    data-bs-toggle="pill" data-bs-target="#chapters" aria-controls="chapters" aria-selected="false">
                Chapters
            </button>
        </div>
        <!-- SearchBar Content -->
        <div class="row tab-content">
            <!-- Recipes -->
            <div id="recipes" class="tab-pane fade show active" role="tabpanel" aria-labelledby="recipes-btn"
                 tabindex="0">
                <br>
                <h1 class="header"><span th:text="${searchResults.getTotalResults()}">10</span> recipes found for "<span th:text="${searchTerm}">Gator</span>"...</h1>
                <!-- Content Here -->
                <div id="recipe-content" class="d-flex flex-wrap flex-row justify-content-between">
                    <div th:each="recipe : ${searchResults.getResults()}" class="m-0 p-0">
                        <div th:replace="partials :: recipe-card(
                            image = ${recipe.getImage()},
                            title = ${recipe.getTitle()},
                            userimg = ${user.getProfilePicture()},
                            firstname = ${user.getFirstName()},
                            lastname = ${user.getLastName()},
                            date = ${recipe.getCreatedAt()},
                            reviews = ${recipe.getReviews().size})">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chapters -->
            <div id="chapters" class="tab-pane fade" role="tabpanel" aria-labelledby="chapters-btn" tabindex="0">
                <br>
                <h1 class="header">6 chapters found for "Gator"...</h1>
                <!-- Content Here -->
            </div>
        </div>
    </div>

</div>

<div th:replace="partials :: script"></div>
</body>
</html>