<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials :: head"></head>
<title>Search Results</title>
<body style="background-color: var(--white);">
<nav th:replace="partials :: navbar"></nav>

<div id="banner-image">
    <div class="search-bar-container">
        <form th:action="@{/search}" th:method="get">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Search recipes..." aria-label="Search recipes..." aria-describedby="search-addon">
                <button class="btn btn-danger" type="submit" id="search-addon">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<div id="browse-body" class="search-container pt-4" style="background-color: var(--white); height: 100%;">
    <div id="profile-tabs" class="row mb-4" role="tablist">
        <div class="col-6 pe-1">
            <button type="button" id="recipes-btn" class="btn btn-lg btn-secondary w-100 active" role="tab"
                    data-bs-toggle="pill" data-bs-target="#recipes" aria-controls="recipes"
                    aria-selected="true">Cookbook
            </button>
        </div>
        <div class="col-6 pe-1">
            <button type="button" id="chapters-btn" class="btn btn-lg btn-secondary w-100" role="tab"
                    data-bs-toggle="pill" data-bs-target="#chapters" aria-controls="chapters" aria-selected="false">
                Spoonacular
            </button>
        </div>
        <!-- SearchBar Content -->
        <div class="tab-content">
            <!-- Recipes -->
            <div id="recipes" class="tab-pane fade show active" role="tabpanel" aria-labelledby="recipes-btn"
                 tabindex="0">
                <br>
                <h1 class="header">
                    <span th:text="${cookbookRecipes.size()}">10</span> recipes found for "<span th:text="${searchTerm}">Gator</span>"...
                </h1>
                <hr>
                <!-- Content Here -->
                <div class="d-flex flex-wrap flex-row justify-content-lg-start justify-content-md-between m-md-2">
                    <th:block th:each="recipe : ${cookbookRecipes}">
                        <th:block th:replace="partials :: recipe-card(
                            id = ${recipe.getId()},
                            saved = ${userDao.checkIfSaved(loggedInUser, recipe)? 'unsaveRecipe fa-solid' : 'saveRecipe fa-regular'},
                            image = ${recipe.getImage()},
                            rating = ${recipeDao.getRatingAverageByRecipe(recipe)},
                            title = ${recipe.getTitle()},
                            username = ${recipe.getCustom_recipe().getCreator_id().getUsername()},
                            userimg = ${recipe.getCustom_recipe().getCreator_id().getProfilePicture()},
                            firstname = ${recipe.getCustom_recipe().getCreator_id().getFirstName()},
                            lastname = ${recipe.getCustom_recipe().getCreator_id().getLastName()},
                            date = ${#dates.format(recipe.getCreatedAt(), 'MMM dd, yyyy')},
                            reviews = ${recipe.getReviews().size},
                            saves = ${recipeDao.getNumberOfSavesByRecipeTitle(recipe.getTitle())})">
                        </th:block>
                    </th:block>
                </div>
            </div>
            <!-- Chapters -->
            <div id="chapters" class="tab-pane fade" role="tabpanel" aria-labelledby="chapters-btn" tabindex="0">
                <br>
                <h1 class="header">
                    <span th:text="${searchResults.getTotalResults()}">10</span> recipes found for "<span th:text="${searchTerm}">Gator</span>"...
                </h1>
                <hr>
                <!-- Content Here -->
                <div class="d-flex flex-wrap flex-row justify-content-lg-start justify-content-md-between m-md-2">
                    <th:block th:each="recipe : ${searchResults.getResults()}">
                        <th:block th:replace="partials :: recipe-card(
                            id = ${recipe.getId()},
                            saved = ${userDao.checkIfSaved(loggedInUser, recipe)? 'unsaveRecipe fa-solid' : 'saveRecipe fa-regular'},
                            image = ${recipe.getImage()},
                            rating = ${recipeDao.getRatingAverageByRecipe(recipe)},
                            title = ${recipe.getTitle()},
                            username = ${user.getUsername},
                            userimg = ${user.getProfilePicture()},
                            firstname = ${user.getFirstName()},
                            lastname = ${user.getLastName()},
                            date = ${#dates.format(recipe.getCreatedAt(), 'MMM dd, yyyy')},
                            reviews = ${recipe.getReviews().size},
                            saves = ${recipeDao.findRecipeBySpoonacularId(recipe.getId()) != null ? recipeDao.getNumberOfSavesByRecipeTitle(recipe.getTitle()) : 0})">
                        </th:block>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="partials :: script"></div>
<script th:inline="javascript"></script>
</body>
</html>